@mixin shop-ui-navigation-footer-item($name: '.navigation-footer-item') {
    #{$name} {
        &--social {
            border-top: none;
        }

        &--footer-logo {
            @include helper-breakpoint-media-min($md) {
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: var(--scale-32);
            }
        }

        @content;
    }
}

@include shop-ui-navigation-footer-item;
