{% extends model('component') %}
{% import _self as component %}

{% define config = {
    name: 'navigation-footer-item',
} %}

{% define data = {
    category: required,
    template: '' | default('navigation-footer'),
    title: '',
} %}

{% block body %}
    {% if data.title is not empty %}
        <h5 class="{{ component.renderClass('title', modifiers) }} title--footer">
            {{ data.title }}
            <span class="icon icon--toggler-cross icon--toggler-cross-thin toggler-accordion__icon is-hidden-md-xxl"></span>
        </h5>
    {% endif %}

    {% widget 'NavigationWidget' args [data.category, data.template] only %}{% endwidget %}
{% endblock %}
