@mixin shop-ui-navigation-footer-item($name: '.navigation-footer-item') {
    #{$name} {
        border-top: solid var(--stroke-sm) var(--border-subtle);

        @include helper-breakpoint-media-min($md) {
            border-top: 0;
            padding-bottom: var(--scale-24);
        }

        @include helper-breakpoint-media-min($lg) {
            padding-bottom: 0;
        }

        &--social {
            border-top: none;
        }

        @content;
    }
}

@include shop-ui-navigation-footer-item;
