@include subscription-recurring-order-selector {
    border: rem(1) solid var(--border-subtle);
    border-radius: var(--radius-md);
    margin-bottom: var(--scale-24);
    padding: var(--scale-12) var(--scale-16);

    .checkbox__label {
        font-size: var(--heading-sm-size);
    }
}
