@include order-experience-management-recurring-order-selector {
    @include typography(body-md);
    border: rem(1) solid var(--border-default);
    border-radius: var(--radius-md);
    margin-bottom: var(--scale-24);
    padding: var(--scale-12) var(--scale-16);
}
