<div class="tile tooltip">
    <label data-qa="configurator-item-label" class="tile__inner" (click)="onClick()">
        <input
            data-qa="configurator-item-input"
            class="tile__input"
            [disabled]="disabled"
            type="radio"
            [value]="value"
            [attr.checked]="checked || null"
        />
        <ng-content></ng-content>
        <span data-qa="configurator-item-price" class="tile__price"
            >+ {{ price | configurePrice | currency : currency }}</span
        >
    </label>

    @if (withTooltip()) {
    <div data-qa="configurator-item-tooltip" class="tooltip__content">
        {{ disabled }}
    </div>
    }
</div>
