@mixin shop-ui-action-bar($name: '.action-bar') {
    #{$name} {
        margin-bottom: var(--scale-16);

        @include helper-breakpoint-media-min($md) {
            display: flex;
            flex-flow: row wrap;
            gap: var(--scale-16);
        }

        &--small {
            margin-bottom: var(--scale-8);
        }

        &--spaceless {
            margin: 0;
        }

        &--narrow {
            @include helper-breakpoint-media-min($md) {
                max-width: rem(700);
            }

            @include helper-breakpoint-media-min($xl) {
                max-width: rem(500);
            }
        }

        &__title {
            flex-grow: 1;

            &--small {
                @include typography(heading-sm);
            }

            &--middle {
                @include typography(heading-md);
            }
        }

        &__actions {
            display: flex;
            flex-direction: column;
            gap: var(--scale-8);

            @include helper-breakpoint-media-min($md) {
                flex-direction: row;
                flex-wrap: wrap;
            }
        }

        &__action {
            width: 100%;
            display: flex;
            flex-flow: row nowrap;
            flex: none;
            align-items: center;
            justify-content: center;

            @include helper-breakpoint-media-min($md) {
                width: auto;
            }
        }

        &__icon {
            margin-right: var(--scale-8);
        }
    }
}

@include shop-ui-action-bar();
