@import '~slick-carousel/slick/slick';

@mixin shop-ui-slick-carousel($name: '.slick-carousel') {
    #{$name} {
        &__container {
            @include helper-effect-transition(opacity, 0.5s);
            max-height: rem(394);
            opacity: 0;

            &--is-inited {
                opacity: 1;
                max-height: none;
            }
        }

        .slick-track,
        .slick-list {
            transition-delay: $setting-effect-default-duration;
        }

        .slick-arrow {
            display: none !important; /* stylelint-disable-line declaration-no-important */

            @include helper-breakpoint-media-min($lg) {
                position: absolute;
                top: 50%;
                display: block !important; /* stylelint-disable-line declaration-no-important */
                font-size: 0;
                width: var(--scale-40);
                height: var(--scale-40);
                background: var(--background-subtle) url('../images/right-chevron.svg') center center no-repeat;
                background-size: var(--scale-12);
                border-radius: var(--radius-full);
                z-index: $setting-zi-element-floating;
                opacity: 1;
                transform: translateY(-50%);
                cursor: pointer;
            }

            &:hover {
                background-color: var(--background-surface);
            }
        }

        .slick-prev {
            @include helper-breakpoint-media-min($lg) {
                left: calc(-1 * var(--scale-12));
                transform: translateY(-50%) rotate(180deg);
            }

            @include helper-breakpoint-media-min($xxxl) {
                left: calc(-1 * var(--scale-48));
            }
        }

        .slick-next {
            @include helper-breakpoint-media-min($lg) {
                right: calc(-1 * var(--scale-12));
            }

            @include helper-breakpoint-media-min($xxxl) {
                right: calc(-1 * var(--scale-48));
            }
        }

        &--jumbotron {
            display: block;
            position: relative;

            #{$name}__container {
                .slick-list {
                    padding-right: 0;
                }

                .slick-slide {
                    margin: 0;
                }

                .slick-dots {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: var(--scale-6);
                    position: absolute;
                    bottom: var(--scale-16);
                    left: 0;
                    right: 0;
                    margin: 0;

                    button {
                        @include helper-effect-transition(width opacity);
                        width: rem(6);
                        height: rem(6);
                        background: var(--white);
                        border-radius: var(--radius-sm);
                        border: none;
                        padding: 0;
                        cursor: pointer;
                        opacity: 0.3;

                        &:hover {
                            opacity: 0.7;
                        }
                    }

                    li {
                        display: block;
                        padding: 0;
                        background: none;
                        font-size: 0;
                        cursor: pointer;
                        height: rem(6);

                        &.slick-active {
                            button {
                                width: rem(24);
                                opacity: 0.7;
                            }
                        }
                    }

                    .jumbotron {
                        height: 100%;
                    }
                }
            }
        }

        &--full-width {
            margin-left: 0;
            margin-right: 0;

            @include helper-breakpoint-media-min($lg) {
                margin-left: -$setting-grid-space;
                margin-right: -$setting-grid-space;
            }

            &#{$name}--equal-height {
                margin-left: 0;
                margin-right: 0;

                @include helper-breakpoint-media-min($lg) {
                    margin-left: -$setting-grid-space;
                    margin-right: -$setting-grid-space;
                }
            }
        }

        &--equal-height {
            .slick-list {
                padding-right: var(--scale-48);

                @include helper-breakpoint-media-min($lg) {
                    padding-right: 0;
                }
            }

            .slick-track {
                display: flex;
            }

            .slick-slide {
                display: flex;
                height: auto;
                margin: 0 rem(9);

                @include helper-breakpoint-media-min($lg) {
                    margin: 0 $setting-grid-space;
                }

                > div {
                    max-width: 100%;
                    width: 100%;
                    height: 100%;
                }
            }
        }

        &--stretch {
            .slick-slide {
                margin: 0;
            }

            .slick-list {
                padding: 0 $setting-grid-space;
            }
        }

        &--product-set {
            margin: 0 rem(-10);

            .slick-slide {
                margin: 0 rem(10);
            }

            @include helper-breakpoint-media-min($lg) {
                margin: 0;

                .slick-slide {
                    margin: 0;
                }
            }
        }

        &--product-set-widget {
            .slick-slide {
                min-height: rem(400);
                width: rem(280);
                margin: 0 rem(10);

                @include helper-breakpoint-media-min($lg) {
                    margin: 0 $setting-grid-space;
                }
            }
        }

        &--non-fixed-height {
            min-height: auto;
        }
    }

    @content;
}

@include shop-ui-slick-carousel;
