{% extends model('component') %}

{% define config = {
    name: 'subscription-info'
} %}

{% define data = {
    title: required,
    text: required,
} %}

{% block body %}
    <strong class="title title--subscription">
        {{ data.title }}
    </strong>

    <p class="{{ config.name }}__text">{{ data.text | raw }}</p>
{% endblock %}
