.subscription-info {
    &__section {
        @include typography(body-sm);
        display: block;
        margin-bottom: var(--scale-12);
        text-transform: uppercase;
    }

    &__text {
        @include typography(body-md);
        display: block;
        margin-top: var(--scale-8);
    }
}
