.subscription-info {
    &__text {
        font-size: var(--body-md-size);
        font-weight: var(--font-weight-regular);
        line-height: var(--body-md-line-height);
        margin: var(--scale-8) 0 var(--scale-16);

        @include helper-breakpoint-media-min($md) {
            margin-top: var(--scale-16);
            margin-bottom: 0;
        }
    }
}
