@use '~src/ShopUi/styles/shared' as *;
$quote-request-cart-item-image-width: rem(78);

@mixin quote-request-page-quote-request-cart-item($name: '.quote-request-cart-item') {
    #{$name} {
        border: var(--stroke-sm) solid var(--border-default);
        border-radius: var(--radius-md);
        padding: var(--scale-12);
        margin-bottom: var(--scale-16);
        position: relative;

        @include helper-breakpoint-media-min($md) {
            padding-right: var(--scale-24);
        }

        @include helper-breakpoint-media-min($lg) {
            padding: 0;
            margin-bottom: var(--scale-20);
        }

        &:hover {
            border-color: var(--border-strong);
        }

        &__column {
            padding-top: var(--scale-8);
            padding-bottom: var(--scale-12);

            @include helper-breakpoint-media-min($lg) {
                padding-top: var(--scale-20);
                padding-bottom: var(--scale-16);
            }

            &--image {
                border-radius: var(--radius-md) 0 0 var(--radius-md);
                padding-top: 0;
                padding-bottom: 0;
                width: $quote-request-cart-item-image-width;
                min-width: $quote-request-cart-item-image-width;

                @include helper-breakpoint-media-min($md) {
                    width: 22%;
                    min-width: 22%;
                }
            }

            &--description {
                padding-top: 0;
                padding-bottom: 0;
                width: calc(100% - #{$quote-request-cart-item-image-width});
                min-width: calc(100% - #{$quote-request-cart-item-image-width});

                @include helper-breakpoint-media-min($md) {
                    display: flex;
                    flex-wrap: wrap;
                    width: 78%;
                    min-width: 78%;
                }
            }

            &--total {
                padding-top: 0;
                padding-bottom: 0;
                width: 100%;
                min-width: 100%;
                padding-right: var(--scale-16);
                padding-left: var(--scale-16);

                @include helper-breakpoint-media-min($lg) {
                    padding-top: var(--scale-20);
                    padding-bottom: var(--scale-16);
                    width: 40%;
                    min-width: 40%;
                    text-align: right;
                }

                #{$name} & {
                    @include helper-breakpoint-media-min($lg) {
                        padding-left: 0;
                        padding-right: var(--scale-48);
                    }
                }
            }

            &--content {
                display: flex;
                flex-direction: column;
                gap: var(--scale-4);
                width: 100%;
                min-width: 100%;
                padding-right: var(--scale-16);
                padding-left: var(--scale-16);

                @include helper-breakpoint-media-min($lg) {
                    width: 60%;
                    min-width: 60%;
                }

                h6 {
                    font-size: var(--heading-sm-size);
                    font-weight: var(--heading-sm-weight);
                    line-height: var(--heading-sm-line-height);
                    color: var(--text-primary);
                    margin: 0;
                }

                .text-secondary {
                    font-size: var(--label-sm-regular-size);
                    line-height: var(--label-sm-regular-line-height);
                    color: var(--text-tertiary);
                }
            }
        }

        @content;
    }
}

@include quote-request-page-quote-request-cart-item();
