@mixin order-experience-management-review-flagged-items($name: '.review-flagged-items') {
    #{$name} {
        @include typography(body-md);

        &__title {
            @include typography(label-md);
            margin: 0 0 var(--scale-12);
        }

        &__item-name {
            font-weight: normal;
        }

        &__item-meta {
            @include typography(body-md);
            margin-top: var(--scale-2);
        }

        .sold-by-merchant {
            @include typography(body-md);
            color: inherit;
        }

        &__box {
            border: rem(1) solid var(--border-subtle);
            border-radius: var(--radius-md);
            margin-bottom: var(--scale-24);
        }

        &__item {
            padding: var(--scale-12) var(--scale-16);
        }

        &__price-info {
            @include typography(body-md);
        }

        @content;
    }
}

@include order-experience-management-review-flagged-items;
