@mixin order-experience-management-review-flagged-items($name: '.review-flagged-items') {
    #{$name} {
        @include typography(body-md);

        &__title {
            @include typography(label-md);
            margin: 0 0 var(--scale-12);
        }
        
        &__item-name {
            margin: 0 0 var(--scale-4);
        }

        &__item-sku {
            @include typography(body-sm);
        }

        &__box {
            border: rem(1) solid var(--border-subtle);
            border-radius: var(--radius-md);
            margin-bottom: var(--scale-24);
        }

        &__item {
            padding: var(--scale-12) var(--scale-16);

            &:not(:last-child) {
                border-bottom: rem(1) solid var(--border-subtle);
            }
        }

        .sold-by-merchant {
            margin: var(--scale-4) 0;
        }

        &__price-info {
            @include typography(label-sm);
        }

        @content;
    }
}

@include order-experience-management-review-flagged-items;
