@mixin shop-ui-copyright-build-with($name: '.copyright-build-with') {
    #{$name} {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: var(--scale-16);
        padding-bottom: var(--scale-16);

        @content;
    }
}

@include shop-ui-copyright-build-with();
