@use 'src/ShopUi/styles/shared' as *;
@mixin content-navigation-widget-navigation-item($name: '.navigation-item') {
    #{$name} {
        border-top: rem(1) solid $setting-color-white;

        @include helper-breakpoint-media-min($md) {
            border-top: 0;
            padding-bottom: rem(24);
        }

        @include helper-breakpoint-media-min($lg) {
            padding-bottom: 0;
        }

        &--reset-border-top {
            border-top: none;
        }

        &--footer-logo {
            display: flex;
            flex-direction: column;
            gap: var(--scale-20);
            padding: 0;

            @include helper-breakpoint-media-min($md) {
                align-items: center;
                flex-direction: row;
                gap: var(--scale-32);
            }
        }

        &--social {
            border-top: none;
            padding: 0;
        }

        @content;
    }
}
