@include ai-commerce-search-by-image {
    &__popup-trigger {
        @include helper-effect-transition(rotate);
        background: none;
        cursor: pointer;
        display: flex;

        &:hover {
            rotate: 90deg;
        }
    }
}
