@mixin catalog-page-filter-enumeration($name: '.filter-enumeration') {
    #{$name} {
        &__list {
            display: flex;
            flex-direction: column;
            gap: var(--scale-8);
            margin: 0;
            padding: 0;
            list-style: none;
        }

        &__item {
            display: flex;
            align-items: center;
            min-height: rem(28);
            margin: 0;
            line-height: var(--font-line-height-20);
        }

        @content;
    }
}

@include catalog-page-filter-enumeration();
