@use 'src/ShopUi/styles/shared' as *;
@mixin product-detail-page-product-configurator($name: '.product-detail') {
    #{$name} {
        display: block;
        padding: var(--scale-32) 0;

        @include helper-breakpoint-media-min($lg) {
            padding: var(--scale-48) 0 var(--scale-64);
        }

        &__tabs {
            display: block;
            width: 100%;
        }

        &__description {
            @include typography(body-md);
            color: var(--text-secondary);
        }

        &__details {
            display: flex;
            flex-direction: column;
            gap: var(--scale-20);
            margin-top: var(--scale-32);
        }

        &__details-title {
            @include typography(label-md-semibold);
            margin: 0;
            color: var(--text-primary);
        }

        &__detail-list {
            display: flex;
            flex-direction: column;
            gap: var(--scale-8);
        }

        &__detail-list-item {
            @include typography(body-md);
            margin: 0;
            color: var(--text-secondary);
        }

        &__detail-list-key {
            font-weight: var(--font-weight-semibold);
            color: var(--text-secondary);
        }

        &__detail-list-value {
            color: var(--text-secondary);
        }

        &__downloads {
            display: flex;
            flex-direction: column;
            margin: 0;
            padding: 0;
            list-style: none;
        }

        &__downloads-item {
            padding: var(--scale-12) 0;
            font-family: var(--body-md-family);
            font-size: var(--body-md-size);
            line-height: var(--body-md-line-height);
            border-bottom: var(--stroke-sm) solid var(--border-subtle);

            &:last-child {
                border-bottom: none;
            }
        }

        &__downloads-link {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: var(--scale-16);
        }

        &__downloads-name {
            color: var(--text-secondary);
            overflow-wrap: break-word;
        }

        &__downloads-aux {
            white-space: nowrap;
        }

        @content;
    }
}
