{% extends model('component') %}

{% define config = {
    name: 'filter-search',
    tag: 'filter-search',
} %}

{% define data = {
    sectionSelector: '.filter-section',
    groupSelector: '.filter-section .filter-section__item',
    rowSelector: '.menu__item--filter-enumeration, .filter-category__menu-item',
} %}

{% define attributes = {
    'section-selector': data.sectionSelector,
    'group-selector': data.groupSelector,
    'row-selector': data.rowSelector,
} %}

{% block extraClass %}
    input input--search
{% endblock %}

{% block body %}
    <input type="text"
        class="{{ config.name }}__input"
        placeholder="{{ 'catalog.filter.search.placeholder' | trans }}"
        aria-label="{{ 'catalog.filter.search.placeholder' | trans }}"
        autocomplete="off">

    <span class="input__search-icon" aria-hidden="true">
        {% include atom('font-icon') with {
            modifiers: ['size-inherit'],
            data: {
                name: 'search',
            },
        } only %}
    </span>
{% endblock %}
