$cart-item-max-visible-variants: 3;
$cart-item-image-width: 76;

@include configured-bundle-product-shared('.ordered-configured-bundle-product') {
    position: relative;
    padding: var(--scale-8);

    &__checkbox {
        position: absolute;
        left: 0;
        top: 0;
        z-index: $setting-zi-element;
    }

    &__col--rail {
        flex-direction: column;
        font-size: var(--font-size-14);
        line-height: var(--font-line-height-20);

        @include helper-breakpoint-media-min($lg) {
            align-items: flex-end;
        }
    }

    &__title {
        font-weight: var(--font-weight-semibold);
        font-size: var(--font-size-14);
        line-height: var(--font-line-height-20);
    }
}
