{% extends template('widget') %}

{% define data = {
    orderReference: _widget.orderReference,
    orderId: _widget.orderId,
} %}

{% block body %}
    <a href="{{ url('customer/ssp-inquiry/create', parameters: {
        orderReference: data.orderReference,
        backUrlType: 'order',
        backUrlIdentifier: data.orderId
    })}}"
       class="button button--small-space"
       data-qa="create-order-ssp-inquiry"
    >{{ 'ssp_inquiry.order.create_ssp_inquiry' | trans }}</a>
{% endblock %}
