@mixin shop-ui-navigation-top($name: '.navigation-top') {
    #{$name} {
        display: none;
        background-color: var(--background-inverse);
        color: var(--text-inverse);

        @include helper-breakpoint-media-min($lg) {
            display: block;
        }

        &__inner {
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: rem(40);
            padding: 0 var(--scale-40);
            margin: 0 auto;

            @include helper-breakpoint-media-min($xl) {
                padding: 0 var(--scale-64);
            }
        }

        &__benefits {
            display: flex;
            align-items: center;
            gap: var(--scale-16);
        }

        &__divider {
            width: var(--stroke-sm);
            height: rem(16);
            background-color: var(--grey-70);
            flex-shrink: 0;
        }

        &__selectors {
            display: flex;
            align-items: center;
            list-style: none;
            margin: 0;
            padding: 0;
        }

        &__selector-item {
            position: relative;
            z-index: $setting-zi-element + 4;
            display: flex;
            align-items: center;
            padding: 0 var(--scale-12);

            &:first-child {
                padding-left: 0;
            }

            &:last-child {
                padding-right: 0;
            }

            & + & {
                &::before {
                    content: '';
                    position: absolute;
                    left: 0;
                    top: 50%;
                    transform: translateY(-50%);
                    width: rem(1);
                    height: rem(16);
                    background-color: rgb(255 255 255 / 25%);
                }
            }
        }

        @content;
    }
}

@include shop-ui-navigation-top();
