@use '~src/ShopUi/styles/shared' as *;
@mixin share-cart-widget-cart-permission($name: '.cart-permission') {
    #{$name} {
        &--widget {
            font-family: var(--body-sm-family);
            font-size: var(--body-sm-size);
            font-weight: var(--body-sm-weight);
            line-height: var(--body-sm-line-height);
            color: var(--text-secondary);
        }

        &__read {
            color: $setting-color-gray-2;
        }

        @content;
    }
}

@include share-cart-widget-cart-permission();
