{% extends view('service-point-name-for-cart-item', '@SprykerFeature:SspServiceManagement') %}

{% block body %}
    <div class="title--h6 spacing-y--big"><strong>{{ 'ssp_service_management.cart_item.service_point.name' | trans }}</strong>: {{ data.servicePointName }}</div>
{% endblock %}
