{% extends view('list-items-by-shipment-type', '@SprykerFeature:SspServiceManagement') %}

{% block title %}
    <div class="title--h3 spacing-bottom--big"><strong>{{ group.name }}</strong></div>
{% endblock %}
