@mixin product-review-average-review($name: '.review-average-display') {
    #{$name} {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: var(--scale-8);
        max-width: rem(120);
        margin: 0 auto;
        text-align: center;

        @include helper-breakpoint-media-min($lg) {
            margin-right: rem(var(--scale-64));
        }

        &__average-rating {
            color: var(--text-primary);
            font-family: var(--heading-xl-family);
            font-size: rem(var(--heading-xl-size));
            font-weight: var(--heading-xl-weight);
            line-height: rem(var(--heading-xl-line-height));
        }

        &__rating-selector {
            display: flex;
            justify-content: center;
        }

        &__total-review {
            color: var(--text-secondary);
            font-family: var(--body-sm-family);
            font-size: rem(var(--body-sm-size));
            font-weight: var(--body-sm-weight);
            line-height: rem(var(--body-sm-line-height));
        }
    }
}

@include product-review-average-review;
