@mixin product-review-average-review($name: '.review-average-display') {
    #{$name} {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: var(--scale-8);
        max-width: rem(120);
        margin: 0 auto;
        text-align: center;

        @include helper-breakpoint-media-min($xl) {
            margin-right: var(--scale-64);
        }

        &__average-rating {
            @include typography(heading-xl);
            color: var(--text-primary);
        }

        &__rating-selector {
            display: flex;
            justify-content: center;
        }

        &__total-review {
            @include typography(body-sm);
            color: var(--text-secondary);
        }
    }
}

@include product-review-average-review;
