@include configurable-bundle-page-configured-bundle-total {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--scale-16);
    margin: 0;
    padding: var(--scale-16);
    background-color: var(--background-subtle);
    border: var(--stroke-sm) solid var(--border-default);
    border-radius: var(--radius-lg);

    &__title {
        @include typography(label-md-semibold);
        margin: 0;
        color: var(--text-primary);
    }

    &__price {
        @include typography(price-lg);
        color: var(--text-primary);
    }

    &__note {
        @include typography(body-sm);
        color: var(--text-secondary);
    }
}
