@use 'src/ShopUi/styles/shared' as *;
@mixin shop-ui-label($name: '.label') {
    #{$name} {
        color: var(--text-primary);
        font-size: var(--label-sm-size);
        font-weight: var(--label-sm-weight);
        line-height: var(--label-sm-line-height);
        letter-spacing: var(--label-sm-letter-spacing);

        &--required::after {
            content: '*';
            margin-left: 0.2rem;
            color: var(--text-state-error);
        }

        &--sm {
            font-size: var(--label-md-size);
            font-weight: var(--label-md-weight);
            line-height: var(--label-md-line-height);
            letter-spacing: var(--label-md-letter-spacing);
        }

        // &--title {
        //     &::after {
        //         display: none;
        //     }
        // }

        // &--small {
        //     text-transform: none;
        //     font-weight: fw(medium);
        // }

        @content;
    }
}
