@mixin shop-ui-label($name: '.label') {
    #{$name} {
        @include typography(label-sm);
        color: var(--text-primary);

        &--required::after {
            content: '*';
            margin-left: 0.2rem;
            color: var(--text-state-error);
        }

        &--sm {
            @include typography(label-md);
        }

        // &--title {
        //     &::after {
        //         display: none;
        //     }
        // }

        // &--small {
        //     text-transform: none;
        //     font-weight: fw(medium);
        // }

        @content;
    }
}

@include shop-ui-label();
