@mixin shop-ui-label($name: '.label') {
    #{$name} {
        color: var(--text-primary);
        font-size: rem(var(--label-sm-size));
        font-weight: var(--label-sm-weight);
        line-height: rem(var(--label-sm-line-height));
        letter-spacing: rem(var(--label-sm-letter-spacing));

        &--required::after {
            content: '*';
            margin-left: 0.2rem;
            color: var(--text-state-error);
        }

        &--sm {
            font-size: rem(var(--label-md-size));
            font-weight: var(--label-md-weight);
            line-height: rem(var(--label-md-line-height));
            letter-spacing: rem(var(--label-md-letter-spacing));
        }

        // &--title {
        //     &::after {
        //         display: none;
        //     }
        // }

        // &--browse-file {
        //     @include helper-effect-transition(border-color);
        //     display: flex;
        //     align-items: center;
        //     width: 100%;
        //     min-height: rem(120);
        //     padding: rem(10);
        //     border: rem(var(--stroke-md)) dashed $setting-color-gray-2;
        //     border-radius: rem(var(--radius-xs));
        //     background-color: $setting-color-white;
        //     text-transform: initial;
        //     font-weight: fw(regular);
        //     cursor: pointer;

        //     &:hover {
        //         border-color: $setting-color-main;
        //     }
        // }

        // &--browse-file-cursor-default {
        //     cursor: default;
        // }

        // &--small {
        //     text-transform: none;
        //     font-weight: fw(medium);
        // }

        @content;
    }
}

@include shop-ui-label();
