@mixin product-option-widget-product-options($name: '.product-options') {
    #{$name} {
        display: flex;
        flex-direction: column;
        gap: var(--scale-8);
        padding-bottom: var(--scale-16);

        &--no-spacing {
            padding-bottom: 0;
        }

        &__item {
            display: flex;
            flex-direction: column;
            gap: var(--scale-8);
        }

        &__title {
            @include typography(label-sm-semibold);
            color: var(--text-primary);
        }

        @content;
    }
}

@include product-option-widget-product-options();
