@use 'src/ShopUi/styles/shared' as *;
@mixin product-review-distribution-display($name: '.review-distribution-display') {
    #{$name} {
        width: 100%;

        td:nth-child(2) {
            width: 100%;
        }

        &__summary-stars {
            width: rem(56);
            padding-right: var(--scale-12);
            padding-bottom: var(--scale-12);
            color: var(--text-primary);
            font-family: var(--label-sm-semibold-family);
            font-size: var(--label-sm-semibold-size);
            font-weight: var(--label-sm-semibold-weight);
            line-height: var(--label-sm-semibold-line-height);
            white-space: nowrap;
        }

        &__progress {
            position: relative;
            width: 100%;
            height: rem(6);
            border-radius: var(--radius-full);
            background-color: var(--background-muted);
            overflow: hidden;
        }

        &__progress-active {
            position: absolute;
            width: 100%;
            height: rem(6);
            border-radius: var(--radius-full);
            background-color: var(--yellow-300);
        }

        &__rating-review {
            padding-left: var(--scale-12);
            padding-bottom: var(--scale-12);
            color: var(--text-secondary);
            font-family: var(--body-sm-family);
            font-size: var(--body-sm-size);
            line-height: var(--body-sm-line-height);
            text-align: right;
            white-space: nowrap;
        }

        tr:last-child td {
            padding-bottom: 0;
        }
    }
}
