@mixin shop-ui-product-item-list($name: '.product-item-list') {
    #{$name} {
        position: relative;

        &__container {
            padding: var(--scale-12);
            margin-bottom: var(--scale-16);
            border-radius: var(--radius-md);
            border: var(--stroke-sm) solid var(--border-default);
            position: relative;

            @include helper-breakpoint-media-min($md) {
                padding: 0;
            }

            &:hover {
                border-color: var(--border-strong);
            }
        }

        &__image {
            position: relative;

            @include helper-breakpoint-media-min($md) {
                background: var(--background-subtle);
            }

            @include helper-breakpoint-media-min($xl) {
                padding: var(--scale-8) var(--scale-16);
            }
        }

        &__content {
            position: relative;

            @include helper-breakpoint-media-min($md) {
                padding: var(--scale-16) var(--scale-16) var(--scale-16) var(--scale-20);
            }
        }

        &__total {
            padding-top: var(--scale-12);

            @include helper-breakpoint-media-min($md) {
                text-align: right;
                padding: var(--scale-16) var(--scale-20) var(--scale-16) var(--scale-12);
            }
        }

        &__overlay {
            position: relative;
            display: block;
            padding: var(--scale-8) var(--scale-16);
            margin: 0 calc(-1 * var(--scale-12)) var(--scale-12);

            @include helper-breakpoint-media-min($md) {
                position: static;
                padding: 0;
                margin: 0;
            }
        }

        &__price {
            align-items: flex-start;

            @include helper-breakpoint-media-min($md) {
                align-items: flex-end;
                height: 100%;
            }
        }

        &__name {
            font-size: var(--heading-sm-size);
            font-weight: var(--heading-sm-weight);
            line-height: var(--heading-sm-line-height);
            color: var(--text-primary);
            display: block;
            text-decoration: none;
        }

        &__details {
            display: none;

            @include helper-breakpoint-media-min($md) {
                display: block;
            }

            @include helper-breakpoint-media-min($xl) {
                position: relative;
                width: 100%;
            }
        }

        &__actions-row {
            display: flex;
            flex-direction: column;

            @include helper-breakpoint-media-min($xl) {
                position: absolute;
                right: 0;
                bottom: 0;
                flex-direction: row;
            }
        }

        &__action {
            padding-top: var(--scale-8);

            @include helper-breakpoint-media-min($xl) {
                padding-top: 0;
                padding-left: var(--scale-8);
            }
        }

        &--order {
            #{$name}__container {
                margin-bottom: 0;
                font-size: var(--body-sm-size);
                background: var(--background-subtle);
                color: var(--text-primary);
                padding: var(--scale-16);
                border-radius: var(--radius-none);
                border: none;
                border-bottom: var(--stroke-sm) solid var(--border-default);

                @include helper-breakpoint-media-min($md) {
                    font-size: var(--body-md-size);
                }

                &:hover {
                    border-color: var(--border-default);
                }
            }

            #{$name}__overlay {
                margin: 0;
                padding: 0;
            }

            #{$name}__image {
                padding: 0 var(--scale-16);
                align-self: center;
            }

            #{$name}__name {
                font-weight: var(--font-weight-bold);
                display: block;
                line-height: var(--font-line-height-20);
                margin-bottom: var(--scale-4);
            }

            #{$name}__sku {
                color: var(--text-tertiary);
                font-size: var(--body-sm-size);
            }

            #{$name}__quantity {
                color: var(--text-tertiary);

                @include helper-breakpoint-media-min($md) {
                    padding-left: var(--scale-16);
                }

                @include helper-breakpoint-media-min($lg) {
                    text-align: right;
                }
            }

            #{$name}__price {
                height: auto;
                font-weight: var(--font-weight-bold);

                @include helper-breakpoint-media-min($lg) {
                    padding-left: var(--scale-16);
                    text-align: right;
                }
            }

            #{$name}__sum-price {
                font-weight: var(--font-weight-bold);

                @include helper-breakpoint-media-min($md) {
                    padding-left: var(--scale-16);
                }

                @include helper-breakpoint-media-min($lg) {
                    text-align: right;
                }
            }
        }

        @content;
    }
}

@include shop-ui-product-item-list();
