@mixin order-experience-management-review-unchanged-items($name: '.review-unchanged-items') {
    #{$name} {
        @include typography(body-md);

        summary {
            @include typography(label-md);
            margin: 0 0 var(--scale-12);
            position: relative;
            padding-right: var(--scale-24);
            list-style: none;
        }

        &__summary-icon {
            position: absolute;
            right: 0;
            top: 50%;
            translate: 0 -50%;

            [open] & {
                rotate: 180deg;
            }
        }

        &__box {
            border: rem(1) solid var(--border-subtle);
            border-radius: var(--radius-md);
            margin-bottom: var(--scale-24);
        }

        &__item {
            padding: var(--scale-12) var(--scale-16);

            &:not(:last-child) {
                border-bottom: rem(1) solid var(--border-subtle);
            }
        }

        &__item-sku {
            @include typography(body-sm);
        }

        @content;
    }
}

@include order-experience-management-review-unchanged-items;
