@use 'src/ShopUi/styles/shared' as *;
$name: '.product-detail-color-selector';

@include helper-color-selector($name) {
    margin: 0;
    display: flex;

    &__items-title,
    &__item-inner {
        display: none;
    }

    &__item {
        width: rem(24);
        height: rem(24);
        border: rem(12) solid $setting-color-transparent;
        display: block;

        &:not(:last-child) {
            margin-right: rem(10);
        }

        &::before {
            content: '';
            display: block;
            width: rem(10);
            height: rem(10);
            border-radius: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        &--active::before {
            background: $setting-color-white;
        }
    }

    &__tooltip {
        top: rem(-54);
        left: rem(-22);
    }
}
