@mixin shop-ui-checkbox($name: '.checkbox') {
    #{$name} {
        display: inline-flex;
        position: relative;

        &__container {
            cursor: pointer;
            display: flex;
            align-items: center;
            gap: rem(var(--scale-8));
        }

        &__box {
            @include helper-effect-transition(border-color background-color);
            display: block;
            width: rem(18);
            height: rem(18);
            border-radius: rem(var(--radius-xs));
            border: rem(var(--stroke-sm)) solid var(--input-border-default);
            background: var(--input-background-default);
        }

        &__input {
            @include helper-accessible-visibility-invisible;
            position: absolute;

            &:focus ~ #{$name}__box {
                box-shadow: var(--shadows-focus-x) var(--shadows-focus-y) var(--shadows-focus-blur)
                    var(--shadows-focus-spread) var(--shadows-focus-color);
            }

            &:checked ~ {
                #{$name}__box {
                    background-color: var(--background-brand-primary);
                    border-color: var(--background-brand-primary);
                    position: relative;

                    &::after {
                        content: 'check';
                        font-family: 'Material Symbols Outlined';
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        translate: -50% -50%;
                        font-size: rem(var(--font-size-18));
                        color: var(--text-inverse);
                    }
                }
            }

            &[disabled],
            &--disabled {
                & ~ #{$name}__box,
                & ~ #{$name}__box:hover {
                    border-color: var(--input-border-disabled);
                    cursor: not-allowed;
                }

                &:checked ~ #{$name}__box,
                &:checked ~ #{$name}__box:hover {
                    border-color: var(--input-border-disabled);
                    background: var(--input-background-disabled);

                    &::after {
                        color: var(--icon-disabled);
                    }
                }

                & ~ #{$name}__label.label {
                    color: var(--input-text-disabled);
                    cursor: not-allowed;
                }
            }

            &[invalid],
            &--error {
                & ~ #{$name}__box,
                & ~ #{$name}__box:hover {
                    border-color: var(--background-state-error-bold);
                    cursor: not-allowed;
                }

                &:checked ~ #{$name}__box,
                &:checked ~ #{$name}__box:hover {
                    border-color: var(--background-state-error-bold);
                    background: var(--background-state-error-bold);
                }
            }
        }

        &--expand {
            width: 100%;
        }

        &__label:empty {
            display: none;
        }

        &:hover {
            #{$name}__box {
                border-color: var(--input-border-hover);
            }

            #{$name}__input:checked ~ #{$name}__box {
                background: var(--background-brand-hover);
                border-color: var(--background-brand-hover);
            }

            #{$name}__input[invalid] ~ #{$name}__box,
            #{$name}__input--error ~ #{$name}__box {
                border-color: var(--background-state-error-bold);
            }

            #{$name}__input[invalid]:checked ~ #{$name}__box,
            #{$name}__input--error:checked ~ #{$name}__box {
                border-color: var(--background-state-error-bold);
                background: var(--background-state-error-bold);
            }

            #{$name}__input[disabled] ~ #{$name}__box,
            #{$name}__input--disabled ~ #{$name}__box {
                border-color: var(--input-border-disabled);
            }

            #{$name}__input[disabled]:checked ~ #{$name}__box,
            #{$name}__input--disabled:checked ~ #{$name}__box {
                border-color: var(--input-border-disabled);
                background: var(--input-background-disabled);
            }
        }

        &--intermediate {
            #{$name}__input:checked ~ #{$name}__box::after {
                content: 'remove';
            }
        }

        @content;
    }
}

@include shop-ui-checkbox;
