@mixin catalog-page-filter-section($name: '.filter-section') {
    #{$name} {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        padding: var(--scale-16) var(--scale-16) var(--scale-64);
        background: var(--background-page);
        z-index: $setting-zi-header + 1;

        @include helper-breakpoint-media-min($lg) {
            position: static;
            padding: var(--scale-12) var(--scale-16);
            background: var(--background-page);
            border: var(--stroke-sm) solid var(--border-subtle);
            border-radius: var(--radius-sm);
        }

        &__close {
            position: absolute;
            right: var(--scale-16);
            top: var(--scale-16);
            color: var(--icon-primary);
            background: none;

            @include helper-breakpoint-media-min($lg) {
                display: none;
            }
        }

        &__title {
            padding: 0 var(--scale-16) var(--scale-12);
            font-family: var(--heading-sm-family);
            font-size: var(--heading-sm-size);
            font-weight: var(--heading-sm-weight);
            line-height: var(--heading-sm-line-height);
            text-align: center;
        }

        &__sorting {
            padding-bottom: var(--scale-12);
        }

        &__search {
            display: block;
            margin-bottom: var(--scale-12);
        }

        &__holder {
            height: calc(100% - 5.75rem);
            overflow: auto;

            @include helper-breakpoint-media-min($lg) {
                height: auto;
                overflow: visible;
            }
        }

        &__item {
            padding: var(--scale-12) 0;
            border-bottom: var(--stroke-sm) solid var(--border-subtle);

            &:last-child {
                border-bottom: none;
            }

            &--hollow {
                padding: var(--scale-12) 0;

                @include helper-breakpoint-media-min($lg) {
                    border-bottom: var(--stroke-sm) solid var(--border-subtle);
                }
            }
        }

        &__item-title {
            display: flex;
            align-items: center;
            gap: var(--scale-8);
            margin: 0;
            font-family: var(--font-family-sans);
            font-size: var(--font-size-14);
            font-weight: var(--font-weight-regular);
            line-height: var(--font-line-height-20);
            color: var(--text-primary);
            text-transform: none;
            cursor: pointer;
        }

        &__item-icon {
            flex-shrink: 0;
        }

        &__item-label {
            flex: 1 0 0;
            min-width: 0;
        }

        &__item-content {
            margin-top: var(--scale-8);

            &--hollow {
                @include helper-breakpoint-media-min($lg) {
                    margin-top: 0;
                }
            }
        }

        &__button {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            border-radius: 0;

            @include helper-breakpoint-media-min($lg) {
                position: static;
                margin-top: var(--scale-16);
                border-radius: var(--radius-sm);
            }
        }

        &--sub-categories-grid {
            position: relative;
            background: none;
            z-index: $setting-zi-element;
            padding: var(--scale-16) 0 var(--scale-24);

            @include helper-breakpoint-media-min($lg) {
                position: static;
                padding: 0;
                background: none;
                margin-top: var(--scale-32);
                border: 0;
            }
        }

        &.is-searching {
            #{$name}__item-content {
                display: block;
            }

            .filter-category__category-target {
                grid-template-rows: 1fr;
            }

            .toggler-accordion__icon {
                display: none;
            }
        }

        @content;
    }
}

@include catalog-page-filter-section();
