@mixin catalog-page-catalog-collapse-all($name: '.catalog-collapse-all') {
    #{$name} {
        display: flex;
        justify-content: flex-end;

        &__trigger {
            @include typography(label-sm);
            display: inline-flex;
            align-items: center;
            gap: var(--scale-4);
            padding: var(--scale-2) 0;
            background: none;
            border: none;
            cursor: pointer;
            color: var(--text-brand);

            &:hover,
            &:focus {
                text-decoration: none;
            }
        }

        &__icon {
            font-size: var(--font-size-12);
        }

        &__trigger &__icon--expand {
            display: none;
        }

        &__label--expand {
            display: none;
        }

        &.is-collapsed {
            #{$name}__label--collapse,
            #{$name}__icon--collapse {
                display: none;
            }

            #{$name}__label--expand {
                display: inline;
            }

            #{$name}__icon--expand {
                display: inline-flex;
            }
        }

        &__trigger:hover #{$name}__label,
        &__trigger:focus #{$name}__label {
            text-decoration: underline;
        }

        @content;
    }
}

@include catalog-page-catalog-collapse-all();
