@mixin shop-ui-navigation-sidebar($name: '.navigation-sidebar') {
    #{$name} {
        &--account {
            padding: 0;
            margin: 0;
        }

        &__list {
            list-style: none;
            border: rem(1) solid $setting-color-gray-1;
            padding: rem(16) 0 rem(16) rem(8);
            border-radius: rem(2);

            &--account {
                border: 0;
                padding: 0;
                border-radius: 0;
            }
        }
    }
}

@include shop-ui-navigation-sidebar();
