.filter-rating {
    font-size: var(--body-md-size);
    line-height: var(--body-md-line-height);
    padding-left: var(--scale-8);

    @include helper-breakpoint-media-min($lg) {
        padding-left: 0;
    }

    &__text {
        vertical-align: middle;
    }
}
