{% extends view('pdp-review-rating', '@SprykerShop:ProductReviewWidget') %}

{% block body %}
    <section itemscope itemtype="http://schema.org/AggregateRating" itemprop="aggregateRating">
        <meta itemprop="ratingValue" content="{{ _widget.productReviewStorageTransfer.averageRating | default(0) }}">
        <meta itemprop="bestRating" content="{{ _widget.maximumRating }}">

        {% include molecule('rating-selector', 'ProductReviewWidget') with {
            modifiers: ['pdp'],
            data: {
                value: _widget.productReviewStorageTransfer.averageRating | default(0),
                maxValue: _widget.maximumRating,
                reviewCount: _widget.productReviewStorageTransfer.reviewCount | default,
            },
            attributes: {
                readonly: true,
            },
        } only %}
    </section>
{% endblock %}
