.button {
    @include helper-effect-transition(background-color border-color box-shadow color);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: rem(var(--space-2));
    padding: rem(var(--space-4)) rem(var(--space-6));
    border-radius: var(--radius-md);
    border: rem(var(--stroke-width-thin)) solid var(--background-brand-primary);
    background: var(--background-brand-primary);
    font-size: var(--primitive-typography-size-14);
    font-weight: var(--primitive-typography-font-weight-medium);
    line-height: var(--primitive-typography-lh-20);
    letter-spacing: var(--primitive-typography-letterspacing-normal, 0);
    color: var(--text-inverse);

    &:hover {
        border-color: var(--background-brand-hover);
        background: var(--background-brand-hover);
        color: var(--text-inverse);
    }

    &:focus-visible {
        box-shadow: var(--shadows-focus-x) var(--shadows-focus-y) var(--shadows-focus-blur) var(--shadows-focus-spread)
            var(--shadows-focus);
        outline: unset;
    }

    &:active,
    &:focus:not(:focus-visible) {
        border-color: var(--background-brand-pressed);
        background: var(--background-brand-pressed);
        color: var(--text-inverse);
    }

    &[disabled],
    &--disabled {
        background: var(--background-muted);
        border-color: var(--background-muted);
        color: var(--text-disabled);
        cursor: not-allowed;
        pointer-events: none;
    }

    &--secondary,
    &--hollow {
        color: var(--text-primary);
        border-color: var(--border-default);
        background: transparent;

        &:hover {
            border-color: var(--border-default);
            background: var(--background-subtle);
            color: var(--text-primary);
        }

        &:active,
        &:focus:not(:focus-visible) {
            background: var(--background-default);
            border-color: var(--background-muted);
            color: var(--text-primary);
        }

        &[disabled],
        &--disabled {
            background: transparent;
            border-color: var(--border-disabled);
        }
    }

    &--tertiary {
        color: var(--text-primary);
        background: transparent;
        border-color: transparent;

        &:hover {
            border-color: var(--background-brand-subtle);
            background: var(--background-brand-subtle);
            color: var(--text-primary);
        }

        &:active,
        &:focus:not(:focus-visible) {
            border-color: var(--background-subtle);
            background: var(--background-subtle);
            color: var(--text-primary);
        }

        &[disabled],
        &--disabled {
            background: transparent;
            border-color: transparent;
        }
    }

    &--alert,
    &--destructive {
        border-color: var(--background-semantic-error-bold);
        background: var(--background-semantic-error-bold);

        &:hover {
            border-color: var(--background-semantic-error);
            background: var(--background-semantic-error-bold);
        }

        &:focus-visible {
            box-shadow: var(--shadows-focus-x) var(--shadows-focus-y) var(--shadows-focus-blur)
                var(--shadows-focus-spread) var(--focus-colour-error);
        }

        &:active,
        &:focus:not(:focus-visible) {
            border-color: var(--background-semantic-error-bold);
            background: var(--background-semantic-error-bold);
        }
    }

    &--sm {
        padding: rem(var(--space-3)) rem(var(--space-5));
    }

    &--lg {
        padding: rem(var(--space-3)) rem(var(--space-7));
    }

    &--icon-only {
        min-width: rem(32);
        min-height: rem(32);
        padding: var(--space-1);
    }
}
