@mixin shop-ui-button($name: '.button') {
    #{$name} {
        @include helper-effect-transition(background-color border-color box-shadow color);
        display: inline-flex;
        justify-content: center;
        align-items: center;
        gap: rem(var(--scale-2));
        padding: rem(var(--scale-4)) rem(var(--scale-16));
        min-height: rem(40);
        border-radius: var(--radius-md);
        border: rem(var(--stroke-sm)) solid var(--background-brand-primary);
        background: var(--background-brand-primary);
        font-size: var(--font-size-14);
        font-weight: var(--font-weight-medium);
        line-height: var(--font-line-height-20);
        letter-spacing: var(--font-letter-spacing-normal, 0);
        color: var(--text-inverse);
        cursor: pointer;

        &:hover {
            border-color: var(--background-brand-hover);
            background: var(--background-brand-hover);
            color: var(--text-inverse);
            text-decoration: none;
        }

        &:focus-visible {
            box-shadow: var(--shadows-focus-x) var(--shadows-focus-y) var(--shadows-focus-blur)
                var(--shadows-focus-spread) var(--shadows-focus-color);
            outline: unset;
        }

        &:active,
        &:focus:not(:focus-visible) {
            border-color: var(--background-brand-pressed);
            background: var(--background-brand-pressed);
            color: var(--text-inverse);
        }

        &[disabled],
        &--disabled {
            background: var(--background-muted);
            border-color: var(--background-muted);
            color: var(--text-disabled);
            cursor: not-allowed;
            pointer-events: none;
        }

        &--secondary,
        &--hollow {
            color: var(--text-primary);
            border-color: var(--border-default);
            background: transparent;

            &:hover {
                border-color: var(--border-default);
                background: var(--background-subtle);
                color: var(--text-primary);
            }

            &:active,
            &:focus:not(:focus-visible) {
                background: var(--background-default);
                border-color: var(--background-muted);
                color: var(--text-primary);
            }

            &[disabled],
            &--disabled {
                background: transparent;
                border-color: var(--border-disabled);
            }
        }

        &--tertiary {
            color: var(--text-primary);
            background: transparent;
            border-color: transparent;

            &:hover {
                border-color: var(--background-brand-subtle);
                background: var(--background-brand-subtle);
                color: var(--text-primary);
            }

            &:active,
            &:focus:not(:focus-visible) {
                border-color: var(--background-subtle);
                background: var(--background-subtle);
                color: var(--text-primary);
            }

            &[disabled],
            &--disabled {
                background: transparent;
                border-color: transparent;
            }
        }

        &--alert,
        &--destructive {
            border-color: var(--background-state-error-bold);
            background: var(--background-state-error-bold);
            color: var(--text-inverse);

            &:hover {
                border-color: var(--background-state-error-bold);
                background: var(--background-state-error-bold);
                color: var(--text-inverse);
            }

            &:focus-visible {
                box-shadow: var(--shadows-focus-x) var(--shadows-focus-y) var(--shadows-focus-blur)
                    var(--shadows-focus-spread) var(--background-state-error-subtle);
            }

            &:active,
            &:focus:not(:focus-visible) {
                border-color: var(--background-state-error-bold);
                background: var(--background-state-error-bold);
            }
        }

        &--sm {
            min-height: rem(32);
            padding-left: rem(var(--scale-12));
            padding-right: rem(var(--scale-12));
        }

        &--lg {
            min-height: rem(48);
            padding-left: rem(var(--scale-20));
            padding-right: rem(var(--scale-20));
        }

        &--icon-only {
            padding-left: rem(var(--scale-8));
            padding-right: rem(var(--scale-8));
        }

        &--expand {
            width: 100%;
        }
    }
}

@include shop-ui-button();
