.button {
    @include helper-effect-transition(background-color border-color box-shadow color);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: rem(var(--space-2));
    padding: rem(var(--space-4)) rem(var(--space-6));
    border-radius: var(--radius-md);
    border: rem(var(--stroke-width-thin)) solid var(--background-brand-primary);
    background: var(--background-brand-primary);
    font-size: rem(var(--fontsize-1));
    font-weight: var(--font-family-weight-medium);
    line-height: var(--lineheights-0);
    color: var(--black-and-white-white);

    &:hover {
        border-color: var(--green-90);
        background: var(--green-90);
        color: var(--black-and-white-white);
    }

    &:focus-visible {
        box-shadow: var(--shadows-focus-x) var(--shadows-focus-y) var(--shadows-focus-blur) var(--shadows-focus-spread)
            var(--shadows-focus);
        outline: unset;
    }

    &:active,
    &:focus:not(:focus-visible) {
        border-color: var(--green-100);
        background: var(--green-100);
        color: var(--black-and-white-white);
    }

    &--hollow {
        color: var(--text-brand-primary);
        background: transparent;

        &:hover {
            border-color: var(--background-brand-primary);
            background: transparent;
            color: var(--text-brand-primary);
            box-shadow: inset 0 0 0 rem(var(--stroke-width-thin)) var(--background-brand-primary);
        }

        &:active,
        &:focus:not(:focus-visible) {
            border-color: var(--background-brand-primary);
            background: var(--background-brand-tertiary);
            color: var(--text-brand-primary);
            box-shadow: inset 0 0 0 rem(var(--stroke-width-thin)) var(--background-brand-primary);
        }
    }

    &--tertiary {
        color: var(--text-brand-primary);
        background: transparent;
        border-color: transparent;

        &:hover {
            border-color: var(--background-brand-tertiary);
            background: var(--background-brand-tertiary);
            color: var(--text-brand-primary);
        }

        &:active,
        &:focus:not(:focus-visible) {
            border-color: var(--background-brand-secondary);
            background: var(--background-brand-secondary);
            color: var(--text-brand-primary);
        }
    }

    &--alert,
    &--destructive {
        border-color: var(--background-semantic-error-bold);
        background: var(--background-semantic-error-bold);

        &:hover {
            border-color: var(--red-90);
            background: var(--red-90);
        }

        &:active,
        &:focus:not(:focus-visible) {
            border-color: var(--red-100);
            background: var(--red-100);
        }
    }

    &--secondary {
        color: var(--black-and-white-black);
        background: transparent;
        border-color: transparent;

        &:hover {
            border-color: var(--background-neutral-secondary);
            background: var(--background-neutral-secondary);
            color: var(--black-and-white-black);
        }

        &:active,
        &:focus:not(:focus-visible) {
            border-color: var(--background-neutral-tertiary);
            background: var(--background-neutral-tertiary);
            color: var(--black-and-white-black);
        }
    }

    &[disabled],
    &--disabled {
        background: var(--background-neutral-disabled);
        border-color: var(--background-neutral-disabled);
        color: var(--black-and-white-white);
        cursor: not-allowed;
        pointer-events: none;
    }

    &--sm {
        padding: rem(var(--space-3)) rem(var(--space-5));
    }

    &--lg {
        padding: rem(var(--space-3)) rem(var(--space-7));
    }

    &--icon {
        min-width: rem(32);
        min-height: rem(32);
        padding: var(--space-1);
    }
}
