@use 'src/ShopUi/styles/shared' as *;
@mixin self-service-portal-stats-overview($name: '.stats-overview') {
    #{$name} {
        &.box {
            padding: rem(13) rem(18);
        }

        &__title {
            font-size: rem(12);
        }

        &__counter {
            font-size: rem(24);
        }
        @content;
    }
}
