@mixin shop-ui-input-extended($name: '.input') {
    #{$name} {
        @include helper-effect-transition(background-color border-color box-shadow color);
        display: inline-flex;
        height: rem(36);
        padding: 0 rem(var(--scale-16));
        align-items: center;
        gap: rem(var(--scale-8));
        width: 100%;
        border-radius: rem(var(--radius-sm));
        border: rem(var(--stroke-sm)) solid var(--input-border-default);
        background: var(--input-background-default);
        color: var(--input-text-value);
        font-size: rem(var(--font-size-14));
        font-weight: var(--font-weight-medium);
        line-height: rem(var(--font-line-height-16));
        letter-spacing: rem(var(--font-letter-spacing-normal));

        ::placeholder {
            color: var(--input-text-placeholder);
        }

        &:hover {
            border-color: var(--input-border-hover);
        }

        &:focus-visible,
        &:focus {
            border-color: var(--input-border-focus);
            box-shadow: var(--shadows-focus-x) var(--shadows-focus-y) var(--shadows-focus-blur)
                var(--shadows-focus-spread) var(--shadows-focus-color);
            outline: none;
        }

        &[invalid],
        &--error {
            border-color: var(--input-border-error);

            &:focus {
                box-shadow: var(--shadows-focus-x) var(--shadows-focus-y) var(--shadows-focus-blur)
                    var(--shadows-focus-spread) var(--shadows-focus-color-error);
            }
        }

        &--disabled:hover,
        &--disabled,
        &[disabled]:hover,
        &[disabled] {
            color: var(--input-text-disabled);
            border-color: var(--input-border-disabled);
            background: var(--input-background-disabled);
            cursor: not-allowed;
            pointer-events: none;
        }

        &--readonly,
        &[readonly] {
            color: var(--input-text-value);
            border-color: var(--input-border-default);
            background: var(--input-background-disabled);
        }

        &--sm {
            height: rem(32);
            font-size: rem(var(--font-size-12));
        }

        @content;
    }
}

@include shop-ui-input-extended();
