<ng-container>
    @if (productData$ | async; as productData) {
    <form #form method="post" [action]="productData.submit_url">
        @for (group of data$ | async; track group) {
        <app-configurator-group
            [group]="group"
            [configuration]="productData.configuration"
            [currency]="productData.currency_code"
            (onChange)="onConfigurationChange($event, group.id)"
        ></app-configurator-group>
        }

        <input name="sourceType" type="hidden" [value]="productData.source_type" />

        @if (productData.id_wishlist_item) {
        <input name="idWishlistItem" type="hidden" [value]="productData.id_wishlist_item" />
        } @if (productData.shopping_list_item_uuid) {
        <input name="shoppingListItemUuid" type="hidden" [value]="productData.shopping_list_item_uuid" />
        } @if (productData.available_quantity) {
        <input
            type="hidden"
            name="productConfigurationInstance[availableQuantity]"
            [value]="productData.available_quantity"
        />
        }

        <input name="sku" type="hidden" [value]="productData.sku" />
        <input
            name="productConfigurationInstance[configuratorKey]"
            type="hidden"
            [value]="productData.configurator_key"
        />
        <input name="itemGroupKey" type="hidden" [value]="productData.item_group_key" />
        <input
            type="hidden"
            name="productConfigurationInstance[configuration]"
            [value]="productData.configuration | json"
        />
        <input
            type="hidden"
            name="productConfigurationInstance[displayData]"
            [value]="productData.display_data | json"
        />

        @if (productData.price) {
        <input
            type="hidden"
            name="productConfigurationInstance[prices][{{ productData.currency_code }}][priceData]"
            [value]="productData.volume_prices | json"
        />
        <input
            type="hidden"
            name="productConfigurationInstance[prices][{{ productData.currency_code }}][GROSS_MODE][DEFAULT]"
            [value]="productData.price"
        />
        <input
            type="hidden"
            name="productConfigurationInstance[prices][{{ productData.currency_code }}][NET_MODE][DEFAULT]"
            [value]="productData.price"
        />
        }

        <input style="display: none" type="checkbox" name="productConfigurationInstance[isComplete]" checked="true" />

        @if (metaData$ | async; as metaData) {
        <input name="timestamp" type="hidden" [value]="metaData.timestamp" />
        <input name="checkSum" type="hidden" [value]="metaData.checkSum" />
        }
    </form>
    }
</ng-container>
