.subscription {
    &__message {
        font-size: var(--body-md-size);
        line-height: var(--body-md-line-height);
        letter-spacing: var(--body-md-letter-spacing);
        margin-top: var(--scale-8);
        text-align: center;
    }
}
