@mixin shop-ui-panel-info-item($name: '.panel-info-item') {
    #{$name} {
        display: none;

        @include helper-breakpoint-media-min($lg) {
            @include typography(label-sm);
            display: flex;
            align-items: center;
            gap: var(--scale-6);
            color: var(--text-inverse);
            white-space: nowrap;
        }

        @content;
    }
}

@include shop-ui-panel-info-item;
