@use '~src/ShopUi/styles/shared' as *;
@mixin shop-ui-panel-info-item($name: '.panel-info-item') {
    #{$name} {
        display: none;

        @include helper-breakpoint-media-min($lg) {
            display: flex;
            align-items: center;
            gap: var(--scale-6);
            font-family: var(--body-sm-family);
            font-size: var(--body-sm-size);
            font-weight: var(--font-weight-medium);
            line-height: var(--body-sm-line-height);
            color: var(--text-inverse);
            white-space: nowrap;
        }

        @content;
    }
}

@include shop-ui-panel-info-item;
