{% extends view('asset-filter', '@SprykerFeature:SelfServicePortal') %}

{% block body %}
    {% if not data.isDisabled %}
        <div data-qa="component asset-filter" class="catalog-asset-filter">
            {{ block('information') }}
        </div>
    {% endif %}
{% endblock %}

{% block title %}
    <h3 class="catalog-asset-filter__title">{{ 'self_service_portal.asset_filter.title' | trans }}</h3>
{% endblock %}
