{% extends view('switcher', '@SprykerShop:StoreWidget') %}

{% block body %}
    {% if (data.storeNames | length) > 1 %}
    <form method="GET" action="{{ data.storeUrls ? '' : '/' }}">
        {% set options = [] %}

        {% for storeName in data.storeNames %}
            {% set options = options | merge([{
                label: 'store_widget.switcher.store' | trans ~ ' ' ~ storeName,
                value: data.storeUrls ? data.storeUrls[storeName] : storeName,
                selected: storeName == data.currentStoreName,
            }]) %}
        {% endfor %}

        {% include molecule('custom-select') with {
            modifiers: ['naked', 'alternative'],
            data: {
                options: options,
            },
            attributes: attributes | merge({
                'config-theme': 'alternative'
            }),
        } only %}
    </form>
    {% endif %}
{% endblock %}
