@mixin product-detail-page-variant-configurator($name: '.variant') {
    #{$name} {
        display: flex;
        flex-direction: column;
        gap: var(--scale-8);

        &--promotion {
            position: relative;
            z-index: $setting-zi-element + 1;
        }

        &--product-set {
            margin-bottom: var(--scale-8);
        }

        &__title {
            font-family: var(--label-sm-semibold-family);
            font-size: var(--label-sm-semibold-size);
            font-weight: var(--label-sm-semibold-weight);
            line-height: var(--label-sm-semibold-line-height);
            letter-spacing: var(--label-sm-semibold-letter-spacing);
            color: var(--text-primary);

            &--product-set {
                font-family: var(--label-md-semibold-family);
                font-size: var(--label-md-semibold-size);
                line-height: var(--label-md-semibold-line-height);
            }
        }
    }
}

@include product-detail-page-variant-configurator;
