@mixin product-detail-page-variant-configurator($name: '.variant') {
    #{$name} {
        display: flex;
        flex-direction: column;
        gap: var(--scale-8);

        &--promotion {
            position: relative;
            z-index: $setting-zi-element + 1;
        }

        &--product-set {
            margin-bottom: var(--scale-8);
        }

        &__title {
            @include typography(label-sm-semibold);
            color: var(--text-primary);

            &--product-set {
                font-family: var(--label-md-semibold-family);
                font-size: var(--label-md-semibold-size);
                line-height: var(--label-md-semibold-line-height);
            }
        }
    }
}

@include product-detail-page-variant-configurator;
