@use 'src/ShopUi/styles/shared' as *;
@include shop-ui-link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    background-color: transparent;
    cursor: pointer;
    color: var(--text-brand);
    font-size: var(--font-size-14, 14px);
    font-weight: 500;
    gap: var(--scale-4);

    &:hover {
        text-decoration: underline;
        color: var(--text-brand);
    }

    &--sm {
        font-size: var(--body-sm-size);
    }

    &--lg {
        font-size: var(--font-size-16);
    }

    &--subtle,
    &--subtle:hover {
        color: var(--text-secondary);
    }

    &--danger,
    &--danger:hover {
        color: var(--text-state-error);
    }

    &--no-decoration {
        text-decoration: none;

        &:hover {
            text-decoration: none;
        }
    }

    &--footer {
        color: var(--icon-secondary);

        &:hover {
            color: var(--icon-primary);
        }
    }
}
