@mixin shop-ui-jumbotron($name: '.jumbotron') {
    $jumbotron-text-shadow:
        0 2px 4px rgb(0 0 0 / 60%),
        0 4px 12px rgb(0 0 0 / 40%);

    #{$name} {
        overflow: hidden;

        &__container {
            height: rem(360);
            background-color: $setting-color-main;
            background-position: center center;
            background-size: cover;
            background-repeat: no-repeat;
            text-align: center;
            position: relative;
            padding: 0 rem(15);

            @include helper-breakpoint-media-min($md) {
                padding-left: rem(40);
                padding-right: rem(40);
            }

            @include helper-breakpoint-media-min($lg) {
                height: rem(455);
                text-align: left;
            }

            &--banner {
                height: 100%;
                padding: 0;
            }

            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: linear-gradient(to top, $setting-color-black 0%, $setting-color-gray-3 100%);
                opacity: 0.6;
            }
        }

        &__content {
            position: relative;
        }

        &--banner {
            height: rem(200);
        }

        &__title,
        &__text {
            color: $setting-color-white;
        }

        &__title {
            font-size: rem(34);
            line-height: rem(38);
            font-weight: fw(bold);
            margin-bottom: rem(15);
            letter-spacing: rem(-0.3);
            text-shadow: $jumbotron-text-shadow;

            @include helper-breakpoint-media-min($lg) {
                font-size: rem(42);
                line-height: rem(46);
                letter-spacing: 0;
            }
        }

        &__text {
            padding: 0 rem(12);
            font-size: rem(16);
            line-height: rem(20);
            font-weight: fw(regular);
            letter-spacing: rem(0.41);
            text-shadow: $jumbotron-text-shadow;
            margin-bottom: rem(26);

            @include helper-breakpoint-media-min($lg) {
                padding: 0;
                font-size: rem(18);
                line-height: rem(22);
            }

            @include helper-breakpoint-media-min($xl) {
                font-size: rem(22);
                line-height: rem(28);
            }
        }

        @content;
    }
}

@include shop-ui-jumbotron();
