@use 'src/ShopUi/styles/shared' as *;
@mixin shop-ui-quantity-counter($name: '.quantity-counter') {
    #{$name} {
        display: flex;
        border: rem(1) solid var(--border-default);
        border-radius: var(--radius-sm);
        background: var(--background-page);
        height: var(--scale-40);
        min-width: rem(112);
        width: 100%;
        justify-content: space-between;

        &--sm {
            height: var(--scale-32);
            min-width: rem(96);
        }

        &--disabled {
            border-color: var(--border-disabled);
            background: var(--background-subtle);
            cursor: not-allowed;
        }

        &:focus-within {
            border-color: var(--border-brand);
        }

        &--error {
            border-color: var(--border-state-error);
        }

        &__input {
            flex-grow: 1;
            width: 100%;
            height: 100%;
            padding: 0 var(--scale-4);
            text-align: center;
            background: none;

            &:focus {
                outline: none;
            }
        }

        &__formatted-input {
            min-width: rem(1);
        }

        &__button {
            aspect-ratio: 7/9;
            cursor: pointer;
            color: var(--text-primary);
            background: transparent;
            border-color: transparent;
            border-radius: var(--radius-sm);

            &:active,
            &:focus,
            &:hover {
                border-color: var(--background-brand-subtle);
                background: var(--background-brand-subtle);
                color: var(--text-primary);
            }

            &--disabled {
                color: var(--text-disabled);
                pointer-events: none;
            }
        }
    }
}
