@include shop-ui-status {
    &--shipped,
    &--in-stock,
    &--never-out-of-stock,
    &--available,
    &--approved,
    &--ready,
    &--paid,
    &--delivered {
        color: var(--text-state-success);
        background: var(--background-state-success-subtle);

        &::before {
            background: var(--background-state-success-subtle);
        }
    }

    &--cancelled,
    &--ready-for-return,
    &--returned,
    &--waiting-for-return,
    &--return-canceled {
        background-color: $setting-color-gray-1;
        color: $setting-color-gray-8;
    }

    &--shipped {
        background: lighten($setting-color-blue-1, 63%);
        color: $setting-color-blue-1;
    }

    &--rejected,
    &--not-configured {
        background: lighten($setting-color-alt, 50%);
        color: darken($setting-color-alt, 27%);
    }

    &--out-of-stock,
    &--rejected,
    &--not-configured {
        background: var(--background-state-error-subtle);
        color: var(--text-state-error);

        &::before {
            background: var(--background-state-error-subtle);
        }
    }

    &--availability {
        color: var(--text-state-info);
        background: var(--background-state-info-subtle);
        font-weight: 500;
        padding: 0 rem(12) 0 rem(30);

        &::before {
            background: var(--background-state-info-subtle);
        }
    }
}
