@include shop-ui-status {
    font-size: rem(12);
    line-height: rem(20);
    background: lighten($setting-color-alt, 50%);
    color: darken($setting-color-alt, 27%);
    padding: 0 rem(6);
    border-radius: $setting-border-radius-2;
    margin: rem(2) rem(2) rem(2) 0;

    &--borderless {
        border-radius: 0;
    }

    &--small {
        padding: 0 rem(16);
    }

    &--approved,
    &--ready,
    &--paid,
    &--delivered {
        background-color: lighten($setting-color-main, 75%);
        color: darken($setting-color-main, 5%);
    }

    &--cancelled,
    &--ready-for-return,
    &--returned,
    &--waiting-for-return,
    &--return-canceled {
        background-color: $setting-color-gray-1;
        color: $setting-color-gray-8;
    }

    &--shipped {
        background: lighten($setting-color-blue-1, 63%);
        color: $setting-color-blue-1;
    }

    &--rejected,
    &--not-configured {
        background: lighten($setting-color-alt, 50%);
        color: darken($setting-color-alt, 27%);
    }
}
