@mixin shop-ui-flash-message($name: '.flash-message') {
    #{$name} {
        @include helper-effect-transition(translate opacity);
        --notificationColor: #{lighten($setting-color-blue-1, 20%)};
        max-width: rem(630);
        border-radius: rem(4);
        background: $setting-color-white;
        border-left: rem(6) solid var(--notificationColor);
        display: flex;
        gap: rem(10);
        align-items: flex-start;
        box-shadow: rem(-2) rem(2) rem(20) 0 #12121226;
        font-size: rem(14);
        translate: 0 -100%;
        opacity: 0;
        pointer-events: none;
        max-height: 0;
        overflow: clip;
        color: $setting-color-gray-4;

        &--show {
            pointer-events: all;
            translate: 0 0;
            opacity: 1;
            max-height: 100vh;
            margin-top: rem(12);
            padding: rem(17) rem(10) rem(10) rem(15);
        }

        &__content {
            flex-grow: 1;
        }

        &__title {
            font-size: rem(16);
            line-height: 1.44;
            letter-spacing: rem(1.2);
            color: $setting-color-gray-8;
        }

        &__text {
            margin-top: rem(0);
        }

        &__close {
            background: none;
            cursor: pointer;
            margin-top: rem(-13);
        }

        &__icon-wrapper {
            width: rem(38);
            aspect-ratio: 1;
            background: color-mix(in srgb, var(--notificationColor), #ffffff 80%);
            color: var(--notificationColor);
            border-radius: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-grow: 0;
            flex-shrink: 0;
            margin-top: rem(-7);
        }

        &--success {
            --notificationColor: #{lighten(map-get($setting-color-actions, 'success'), 20%)};
        }

        &--warning {
            --notificationColor: #{lighten(map-get($setting-color-actions, 'warning'), 20%)};
        }

        &--alert {
            --notificationColor: #{lighten(map-get($setting-color-actions, 'alert'), 20%)};
        }

        @content;
    }
}

@include shop-ui-flash-message();
