@mixin shop-ui-flash-message($name: '.flash-message') {
    #{$name} {
        @include helper-effect-transition(translate opacity);
        --notification-border: var(--background-state-info-bold);
        --notification-background: var(--background-state-info-subtle);
        --notification-icon: var(--icon-state-info);
        display: flex;
        align-items: flex-start;
        max-width: rem(630);
        translate: 0 -100%;
        opacity: 0;
        gap: var(--scale-12);
        border-radius: var(--radius-md);
        border-left: var(--stroke-lg) solid var(--notification-border);
        background: var(--notification-background);
        font-size: var(--font-size-12);
        line-height: var(--font-line-height-16);
        letter-spacing: var(--font-letter-spacing-normal);
        pointer-events: none;
        max-height: 0;
        overflow: clip;
        color: var(--text-primary);

        &--show {
            pointer-events: all;
            translate: 0 0;
            opacity: 1;
            max-height: 100vh;
            margin-top: var(--scale-12);
            padding: var(--scale-16) var(--scale-40) var(--scale-16) var(--scale-20);
        }

        &__content {
            flex-grow: 1;
        }

        &__title {
            display: block;
            font-size: var(--font-size-14);
            font-weight: var(--font-weight-medium);
            line-height: var(--font-line-height-20);
        }

        &__text {
            margin-top: var(--scale-2);
            color: var(--text-secondary);
        }

        &__close {
            color: var(--icon-primary);
            position: absolute;
            right: var(--scale-12);
            top: var(--scale-8);
            background: none;
            cursor: pointer;
        }

        &__icon {
            color: var(--notification-icon);
        }

        &--success {
            --notification-border: var(--background-state-success-bold);
            --notification-background: var(--background-state-success-subtle);
            --notification-icon: var(--icon-state-success);
        }

        &--warning {
            --notification-border: var(--background-state-warning-bold);
            --notification-background: var(--background-state-warning-subtle);
            --notification-icon: var(--icon-state-warning);
        }

        &--alert {
            --notification-border: var(--background-state-error-bold);
            --notification-background: var(--background-state-error-subtle);
            --notification-icon: var(--icon-state-error);
        }

        @content;
    }
}

@include shop-ui-flash-message();
