@mixin shop-ui-account-menu($name: '.account-menu') {
    #{$name} {
        &__row {
            @include helper-effect-transition(background-color);
            display: flex;
            align-items: center;
            gap: var(--scale-12);
            padding: var(--scale-8) var(--scale-12);
            text-decoration: none;
            color: var(--text-primary);
            font-family: var(--body-sm-family);
            font-size: var(--body-md-size);
            font-weight: var(--font-weight-medium);
            line-height: var(--body-md-line-height);
            border-radius: var(--radius-sm);

            &:hover {
                background-color: var(--background-subtle);
                text-decoration: none;
            }

            &--danger {
                color: var(--text-state-error);

                &:hover {
                    background-color: var(--background-subtle);
                    color: var(--text-state-error);
                }
            }
        }

        &__row-icon {
            display: none;
            font-size: rem(18);
            flex-shrink: 0;

            @include helper-breakpoint-media-min($xl) {
                display: block;
            }
        }

        &__row-label {
            flex: 1;
        }

        .spr-tabs__panels--account-menu {
            padding: var(--scale-8) 0;
        }

        .spr-tabs__trigger-label {
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }

        @content;
    }
}

@include shop-ui-account-menu();
