{% extends view('details', '@SprykerFeature:SspAssetManagement') %}

{% block customerContent %}
    {{ block('assetTitle') }}
    {{ block('information') }}

    <div class="grid grid--stretch grid--with-gutter">
        {% set colClasses = 'col col--with-gutter col--sm-12 col--xl-6' %}

        <div class="{{ colClasses }}">
            {% if data.sspAsset.sspInquiryCollection and (can('ViewBusinessUnitSspInquiryPermissionPlugin') or can('ViewCompanySspInquiryPermissionPlugin')) %}
                {% widget 'SspInquiryListWidget' args [data.sspAsset.sspInquiryCollection, url('customer/ssp-inquiry', { ssp_asset_reference: data.sspAsset.reference })] only %}{% endwidget %}
            {% endif %}
        </div>
    </div>
{% endblock %}
