@use 'src/ShopUi/styles/shared' as *;
@mixin product-review-review-summary($name: '.review-summary') {
    #{$name} {
        display: block;
        margin-bottom: rem(45);

        @include helper-breakpoint-media-min($lg) {
            margin-bottom: rem(90);
        }

        &__top {
            margin: 0;
        }

        &__summary-col,
        &__form-col {
            margin-bottom: var(--scale-24);

            @include helper-breakpoint-media-min($lg) {
                margin-bottom: 0;
            }
        }

        &__rating-box {
            padding: var(--scale-24);
            background: var(--background-highlight);
            border-radius: var(--radius-sm);

            @include helper-breakpoint-media-min($xl) {
                margin-right: var(--scale-48);
            }
        }

        &__sub-title {
            margin: 0 0 var(--scale-16);
            color: var(--text-primary);
            font-family: var(--label-md-semibold-family);
            font-size: var(--label-md-semibold-size);
            font-weight: var(--label-md-semibold-weight);
            line-height: var(--label-md-semibold-line-height);
        }

        &__no-review {
            color: var(--text-tertiary);
            font-family: var(--body-md-family);
            font-size: var(--body-md-size);
            line-height: var(--body-md-line-height);
        }

        &__new-review-form {
            padding: 0;
        }

        &__list {
            margin-top: var(--scale-32);

            @include helper-breakpoint-media-min($lg) {
                margin-top: var(--scale-48);
            }
        }
    }
}
