@mixin shop-ui-pagination($name: '.pagination') {
    #{$name} {
        font-size: var(--font-size-12);
        font-weight: var(--font-weight-medium);
        text-align: center;
        margin-top: rem(7);

        @include helper-breakpoint-media-min($lg) {
            margin-top: rem(40);
        }

        &:empty {
            display: none;
        }

        &__list {
            display: flex;
            justify-content: center;
            gap: var(--scale-8);
        }

        &__item {
            &--pages-before-ellipsis-index-2,
            &--pages-after-ellipsis-index-2 {
                display: none;

                @include helper-breakpoint-media-min($md) {
                    display: block;
                }
            }
        }

        &__step {
            @include helper-effect-transition(color background);
            display: inline-flex;
            align-items: center;
            justify-content: center;
            padding: rem(4);
            min-width: rem(40);
            height: rem(40);
            border-radius: var(--radius-md);
            color: var(--text-primary);
            background: transparent;

            &--sm {
                min-width: rem(32);
                height: rem(32);
            }

            &--previous,
            &--next,
            &--button {
                &:hover,
                &:focus {
                    background: var(--background-subtle);
                }
            }

            &--current {
                background: var(--background-brand-primary);
                color: var(--text-inverse);
                pointer-events: none;
            }

            &--previous,
            &--next {
                gap: var(--scale-4);
                padding: 0 var(--scale-12);
                border: var(--stroke-sm) solid var(--border-subtle);

                &:hover,
                &:focus {
                    color: $setting-color-gray-5;
                }
            }

            &--disabled {
                &,
                &:hover,
                &:focus {
                    color: var(--text-disabled);
                }
            }
        }

        &--search-cms-results {
            margin-bottom: rem(60);

            @include helper-breakpoint-media-min($xl) {
                margin-bottom: rem(110);
            }
        }

        @content;
    }
}

@include shop-ui-pagination();
