@mixin catalog-page-suggestion-product($name: '.suggestion-product') {
    #{$name} {
        &__title {
            font-size: rem(17);
            font-weight: fw(regular);
            line-height: normal;
            letter-spacing: rem(0.2);
            padding-bottom: rem(16);
            padding-top: rem(26);
            color: $setting-color-gray-4;
        }

        &__link {
            @include helper-effect-transition(color);
            display: flex;
            align-items: center;
            height: rem(60);
            gap: rem(14);
            padding: 0 var(--scale-20) 0 var(--scale-16);
            color: $setting-color-gray-4;

            &:hover {
                color: $setting-color-gray-5;
            }
        }

        &__thumbnail {
            min-width: rem(52);
            width: rem(52);
            height: rem(52);

            @include helper-breakpoint-media-min($lg) {
                min-width: rem(44);
                width: rem(44);
                height: rem(44);
                border-radius: rem(6);
                overflow: hidden;
            }

            img {
                @include helper-breakpoint-media-min($lg) {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }

        &__name {
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            gap: var(--scale-2);
        }

        &__title {
            font-family: var(--body-sm-family);
            font-size: var(--body-sm-size);
            font-weight: var(--body-sm-weight);
            line-height: var(--body-sm-line-height);
            color: var(--text-primary);
        }

        &__sku {
            font-size: rem(10);
            font-weight: fw(regular);
            line-height: 1.2;
            color: var(--text-secondary);
        }

        &__price {
            display: block;

            .price__amount {
                font-family: var(--label-sm-family);
                font-size: var(--label-sm-size);
                font-weight: var(--label-sm-weight);
                line-height: var(--label-sm-line-height);
                color: var(--text-primary);

                &--alt {
                    color: $setting-color-alt;
                }

                &--original {
                    font-size: rem(13);
                    font-weight: fw(regular);
                    text-decoration: line-through;
                }
            }

            .price__mode {
                display: none;

                @include helper-breakpoint-media-min($lg) {
                    display: block;
                }
            }
        }

        @content;
    }
}

@include catalog-page-suggestion-product();
