@mixin catalog-page-suggestion-product($name: '.suggestion-product') {
    #{$name} {
        &__link {
            @include helper-effect-transition(background-color color);
            display: flex;
            align-items: center;
            min-height: rem(60);
            gap: var(--scale-12);
            padding: var(--scale-6) var(--scale-16);
            color: var(--text-primary);

            &:hover {
                color: var(--text-brand);
                background-color: var(--background-subtle);
            }
        }

        &__thumbnail {
            min-width: rem(52);
            width: rem(52);
            height: rem(52);

            @include helper-breakpoint-media-min($lg) {
                min-width: rem(44);
                width: rem(44);
                height: rem(44);
                border-radius: var(--radius-md);
                overflow: hidden;

                lazy-image {
                    display: block;
                    width: rem(44);
                    height: rem(44);
                }
            }

            img {
                @include helper-breakpoint-media-min($lg) {
                    width: 100%;
                    height: 100%;
                    min-height: 100%;
                    object-fit: cover;
                }
            }
        }

        &__name {
            flex-grow: 1;
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: var(--scale-6);
        }

        &__content {
            display: flex;
            flex-direction: column;
        }

        &__title {
            font-family: var(--body-sm-family);
            font-size: var(--body-sm-size);
            font-weight: var(--body-sm-weight);
            line-height: var(--body-sm-line-height);
            color: var(--text-primary);
        }

        &__sku {
            font-size: var(--caption-size);
            font-weight: var(--caption-weight);
            line-height: var(--caption-line-height);
            color: var(--text-secondary);
        }

        &__price {
            text-align: right;
        }

        @content;
    }
}

@include catalog-page-suggestion-product();
