@include order-experience-management-review-add-product-picker {
    &__product-col,
    &__quantity-col {
        margin-bottom: var(--scale-8);
    }

    &__actions {
        margin-top: var(--scale-16);
    }

    &__price {
        @include typography(label-md);
        z-index: 999;
        background: var(--white);
        padding: 0 var(--scale-8);
        border-left: 1px solid var(--border-default);
    }
}
