@mixin order-experience-management-review-footer($name: '.review-footer') {
    #{$name} {
        @include typography(label-md);

        &__actions-column {
            @include helper-breakpoint-media-max($md) {
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: var(--scale-8);
            }
        }

        &__button {
            @include helper-breakpoint-media-max($md) {
                width: 100%;
            }
        }

        @content;
    }
}

@include order-experience-management-review-footer;
