@mixin helper-badge-chip {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: var(--scale-2) var(--scale-8);
    gap: var(--scale-4);
    font-size: var(--body-sm-size);
    line-height: var(--body-sm-line-height);
    border-radius: var(--radius-sm);
    background: var(--background-muted);
    color: var(--text-primary);
    border: none;
}

@mixin helper-badge-semantic-subtle($state) {
    color: var(--text-state-#{$state});
    background: var(--background-state-#{$state}-subtle);
}

@mixin helper-badge-semantic-bold-background($state) {
    color: var(--text-inverse);
    background: var(--background-state-#{$state}-bold);
}
