@mixin catalog-page-sort($name: '.sort') {
    #{$name} {
        &__controls {
            display: flex;
            flex-direction: column;
            gap: var(--scale-12);

            @include helper-breakpoint-media-min($lg) {
                flex-direction: row;
                align-items: center;
                gap: var(--scale-8);
            }
        }

        &__field {
            display: flex;
            flex-direction: column;
            gap: var(--scale-4);

            @include helper-breakpoint-media-min($lg) {
                flex-direction: row;
                align-items: center;
                gap: var(--scale-8);
            }
        }

        &__label {
            font-size: var(--body-sm-size);
            font-weight: var(--font-weight-medium);
            line-height: var(--body-sm-line-height);
            color: var(--text-secondary);
            white-space: nowrap;
        }

        @content;
    }
}

@include catalog-page-sort();
