@include product-bundle-widget-bundle-items() {
    font-size: rem(15);
    margin-bottom: var(--scale-16);

    &__item {
        display: flex;
        align-items: center;
        gap: var(--scale-8);
        margin-bottom: var(--scale-8);
    }

    &__title {
        @include typography(caption-sm);
        color: $setting-color-gray-5;
        margin-bottom: var(--scale-8);
    }

    &__details {
        @include typography(body-sm);
        display: flex;
        gap: var(--scale-8);
    }
}
