@use 'src/ShopUi/styles/shared' as *;
@mixin product-review-new-review-form($name: '.new-review-form') {
    #{$name} {
        &__card {
            padding: var(--scale-24);
            background: var(--background-page);
            border: var(--stroke-sm) solid var(--border-subtle);
            border-radius: var(--radius-lg);
        }

        &__actions {
            display: flex;
            flex-direction: column-reverse;
            width: 100%;
            gap: var(--scale-16);

            @include helper-breakpoint-media-min($lg) {
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
            }
        }

        &__actions-buttons {
            display: flex;
            flex-flow: column-reverse;
            width: 100%;
            gap: var(--scale-12);

            @include helper-breakpoint-media-min($lg) {
                flex-flow: row nowrap;
                width: auto;
            }
        }

        &__action-button {
            width: auto;
        }

        &__required-fields {
            font-size: rem(13);
            flex-shrink: 0;
            text-align: left;
        }
    }
}
