@mixin order-experience-management-recurring-order-items($name: '.recurring-order-items') {
    #{$name} {
        @include typography(body-md);

        &__title {
            @include typography(label-md);
            padding: 0 var(--scale-16) var(--scale-8);
        }

        &__table {
            border-left: 0;
            border-right: 0;
        }

        &__items {
            display: grid;
            gap: var(--scale-8);
            grid-template-columns: 70% auto auto;
            padding-bottom: var(--scale-8);
            margin-bottom: var(--scale-8);
            text-align: right;

            &:not(:last-child) {
                border-bottom: 1px solid var(--border-subtle);
            }
        }

        &__item-meta {
            @include typography(body-md);
            margin-top: var(--scale-2);
        }

        .sold-by-merchant {
            @include typography(body-sm);
            color: var(--text-tertiary);
        }

        &__product-name {
            @include typography(label-md);
            display: block;
            margin-bottom: var(--scale-6);
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            overflow: hidden;
        }

        &__product-sku {
            @include typography(body-sm);
            display: block;
            color: var(--text-secondary);
            margin-bottom: var(--scale-2);
        }

        &__main-info {
            text-align: left;
        }

        &__item-bundle {
            display: block;
            color: var(--text-tertiary);
        }

        &__item-flags {
            display: flex;
            flex-wrap: wrap;
            gap: var(--scale-4);
            margin-top: var(--scale-4);
        }

        &__summary {
            @include typography(body-sm);
            display: flex;
            gap: var(--scale-12);
            align-items: center;
            padding: var(--scale-12);
        }

        &__summary-label {
            @include typography(label-md);
            margin-bottom: var(--scale-2);
        }

        &__summary-total {
            @include typography(body-lg);
            font-weight: var(--font-weight-semibold);
        }

        &__tooltip-trigger {
            cursor: pointer;
        }

        @content;
    }
}

@include order-experience-management-recurring-order-items;
