@mixin order-experience-management-schedule-detail-sidebar($name: '.schedule-detail-sidebar') {
    #{$name} {
        @include typography(body-md);
        background: var(--background-surface);
        padding: var(--scale-16);

        .link {
            @include typography(body-md);
        }

        &__heading {
            display: flex;
            align-items: center;
            gap: var(--scale-8);
            margin-bottom: var(--scale-12);
        }

        &__title {
            @include typography(heading-sm);
        }

        &__label {
            color: var(--text-tertiary);
        }

        &__value {
            @include typography(label-md);
            margin-bottom: var(--scale-12);
        }

        @content;
    }
}

@include order-experience-management-schedule-detail-sidebar;
