@mixin buy-box-sold-by($name: '.sold-by') {
    #{$name} {
        display: flex;
        flex-direction: column;
        gap: var(--scale-2);
        padding: var(--scale-8) var(--scale-16);
        background-color: var(--background-surface);
        border-radius: var(--radius-md);

        &__name {
            color: var(--text-primary);
            font-family: var(--label-sm-semibold-family);
            font-size: rem(var(--label-sm-semibold-size));
            font-weight: var(--label-sm-semibold-weight);
            line-height: rem(var(--label-sm-semibold-line-height));
        }

        &__links {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            gap: var(--scale-4) var(--scale-12);
        }

        &__links a,
        &__links .link,
        &__link,
        &__change {
            padding: 0;
            background: none;
            border: 0;
            color: var(--text-brand);
            font-family: var(--label-sm-family);
            font-size: rem(var(--label-sm-size));
            font-weight: var(--label-sm-weight);
            line-height: rem(var(--label-sm-line-height));
            text-decoration: none;
            cursor: pointer;
        }
    }
}

@include buy-box-sold-by();
