{% extends molecule('input-dropzone', '@SprykerShop:ShopUi') %}

{% block button %}
    <button inert type="button" class="button button--hollow">
        <i class="fa fa-plus"></i>
        {{ 'Upload file' | trans }}
    </button>
{% endblock %}
