@use 'src/ShopUi/styles/shared' as *;
@mixin cart-note-widget-note-list($name: '.note-list') {
    #{$name} {
        width: 100%;

        &__title {
            color: $setting-color-gray-4;
            font-weight: fw(medium);

            &--order-detail {
                font-weight: fw(bold);
                text-transform: uppercase;
            }
        }

        @content;
    }
}
