@include shop-ui-badge('.badge') {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: rem(var(--scale-2)) rem(var(--scale-8));
    gap: rem(var(--scale-4));
    font-size: rem(var(--font-size-12));
    font-weight: var(--font-weight-medium);
    line-height: rem(var(--font-line-height-16));
    border-radius: var(--radius-sm);
    background: var(--background-muted);
    color: var(--text-primary);
    border: none;

    &--md {
        padding: rem(var(--scale-4)) rem(var(--scale-8));
        font-size: rem(var(--font-size-14));
        line-height: rem(var(--font-line-height-20));
    }

    &--info {
        color: var(--text-state-info);
        background: var(--background-state-info-subtle);

        &#{$name}--solid {
            background: var(--background-state-info-bold);
        }
    }

    &--success {
        color: var(--text-state-success);
        background: var(--background-state-success-subtle);

        &#{$name}--solid {
            background: var(--background-state-success-bold);
        }
    }

    &--warning {
        background: var(--background-state-warning-subtle);
        color: var(--text-state-warning);

        &#{$name}--solid {
            background: var(--background-state-warning-bold);
        }
    }

    &--error {
        background: var(--background-state-error-subtle);
        color: var(--text-state-error);

        &#{$name}--solid {
            background: var(--background-state-error-bold);
        }
    }

    &--solid {
        color: var(--text-inverse);
        background: var(--background-inverse);
    }
}
