@include ssp-dashboard-management-contact-list($name: '.contact-list') {
    &__representative-name {
        font-size: rem(13);
    }

    &__representative-logo {
        background-color: $setting-color-gray-2;
    }

    &__representative-data {
        justify-content: flex-start;
    }
}
