{% extends molecule('budget-form', 'SprykerFeature:PurchasingControl') %}

{% block body %}
    {% include molecule('action-bar', 'ShopUi') with {
        data: {
            title: 'purchasing_control.budget.update.title' | trans,
        }
    } only %}

    {% embed molecule('form') with {
        data: {
            form: data.form,
            options: {
                action: data.formAction,
                method: 'post',
            },
            layout: {
                name: 'col col--sm-12 ',
                amount: 'col col--sm-12 col--md-6',
                currencyIsoCode: 'col col--sm-12 col--md-6',
                startsAt: 'col col--sm-12 col--md-6',
                endsAt: 'col col--sm-12 col--md-6',
                enforcementRule: 'col col--sm-12',
                isActive: 'col col--sm-12',
            },
            submit: {
                enable: true,
                text: 'purchasing_control.budget.action.save' | trans,
            },
            cancel: {
                enable: true,
                url: url('company/cost-center/budget', { costCenterUuid: data.costCenterUuid }),
                text: 'purchasing_control.budget.action.cancel' | trans,
                class: 'button button--hollow',
            },
        },
    } only %}
        {% block field %}
            {{ parent() }}
            
            {% if fieldName == 'enforcementRule' %}
                {% set enforcementRules = ['block', 'warn', 'require_approval'] %}
                <div class="form__field col col--sm-12">
                    <ul class="list">
                        {% for rule in enforcementRules %}
                            <li class="list__item">
                                <strong>{{ ('purchasing_control.budget.form.enforcement_rule.' ~ rule) | trans }}</strong>:
                                {{ ('purchasing_control.budget.enforcement_rule.tooltip.' ~ rule) | trans }}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        {% endblock %}
    {% endembed %}
{% endblock %}
