@mixin shop-ui-suggest-search($name: '.suggest-search') {
    #{$name} {
        &__container {
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            margin-top: var(--scale-4);
            border: var(--stroke-sm) solid var(--border-default);
            border-radius: var(--radius-lg);
            background: var(--background-surface);
            box-shadow: var(--shadows-md-x) var(--shadows-md-y) var(--shadows-md-blur) var(--shadows-md-spread)
                var(--shadows-md-color);
            max-height: rem(300);
            overflow-x: hidden;
            overflow-y: auto;
            z-index: $setting-zi-search-suggestions + 3;

            @include helper-breakpoint-media-min($lg) {
                width: rem(720);
                max-height: 30rem;
            }
        }

        &--drawer {
            #{$name}__container {
                position: fixed;
                top: rem(116);
                left: 0;
                bottom: 0;
                width: 100%;
                max-height: none;
                border: none;
                border-radius: 0;
                box-shadow: none;
                margin-top: 0;
                z-index: $setting-zi-side-drawer + 1;

                @include helper-breakpoint-media-min($md) {
                    width: rem(390);
                }
            }
        }

        &__input,
        &__hint {
            &--active {
                border-radius: 0;
                outline: none;
            }
        }

        &__input {
            position: relative;
            z-index: $setting-zi-search-suggestions + 2;

            &--transparent {
                background-color: transparent;
            }
        }

        &__hint {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            background: transparent;
            font-family: var(--body-sm-family);
            font-size: var(--body-sm-size);
            font-weight: var(--body-sm-weight);
            line-height: var(--body-sm-line-height);
            color: var(--text-placeholder);
            z-index: $setting-zi-search-suggestions + 1;
            border: none;
            width: 100%;
            padding-right: rem(65);
            pointer-events: none;

            &--active {
                background: transparent;
            }

            &:focus-visible,
            &:focus {
                border: none;
            }
        }

        &__product {
            padding: 0;
        }

        &__all-items {
            display: flex;
            align-items: center;
            width: 100%;
            height: var(--scale-32);
            padding: 0 var(--scale-20);
            background: var(--background-subtle);
            font-family: var(--label-sm-family);
            font-size: var(--label-sm-size);
            font-weight: var(--label-sm-weight);
            line-height: var(--label-sm-line-height);
            letter-spacing: var(--label-sm-letter-spacing);
            color: var(--text-brand);
            text-transform: uppercase;
            cursor: pointer;
            justify-content: space-between;

            &:hover {
                color: var(--text-primary);
            }
        }

        &__item {
            &--active {
                text-decoration: underline;
            }
        }

        &--with-overlay {
            #{$name}__loader {
                top: rem(-60);

                @include helper-breakpoint-media-min($lg) {
                    top: rem(-50);
                }
            }
        }

        @content;
    }
}

@include shop-ui-suggest-search;
