$dropdown-width: calc(100% + #{rem(4)});
$dropdown-top-indent: calc(100% + #{rem(15)});

@mixin shop-ui-product-card-item($name: '.product-card-item') {
    #{$name} {
        border: var(--stroke-sm) solid var(--border-default);
        border-radius: var(--radius-md);
        padding: var(--scale-12);
        margin-bottom: var(--scale-12);
        position: relative;
        width: 100%;
        background: var(--background-page);

        @include helper-breakpoint-media-min($lg) {
            padding: 0;
            margin-bottom: var(--scale-20);
        }

        &:hover {
            border-color: var(--border-strong);
        }

        & > .grid {
            @include helper-breakpoint-media-min($lg) {
                flex-wrap: nowrap;
            }
        }

        &__col {
            &--image {
                border-radius: var(--radius-md) 0 0 var(--radius-md);
                padding-top: 0;
                padding-bottom: 0;
                width: 100%;

                @include helper-breakpoint-media-min($lg) {
                    width: 22%;
                    min-width: 22%;
                    align-self: stretch;
                }
            }

            &--total {
                padding-top: 0;
                padding-bottom: 0;
                width: 100%;
                min-width: 100%;

                @include helper-breakpoint-media-min($lg) {
                    width: 40%;
                    min-width: 40%;
                    text-align: right;
                }

                #{$name} & {
                    @include helper-breakpoint-media-min($lg) {
                        padding-left: var(--scale-16);
                        padding-right: var(--scale-16);
                    }
                }
            }

            &--content {
                width: 100%;
                min-width: 100%;

                @include helper-breakpoint-media-min($lg) {
                    width: 60%;
                    min-width: 60%;
                }
            }

            &--description {
                padding-top: var(--scale-8);
                padding-bottom: var(--scale-12);
                width: 100%;

                @include helper-breakpoint-media-min($lg) {
                    width: 78%;
                    min-width: 78%;
                    padding-left: var(--scale-16);
                    padding-top: var(--scale-20);
                    padding-bottom: var(--scale-16);
                }
            }

            &--shopping-list:not(&--image) {
                padding-bottom: var(--scale-20);
                padding-top: 0;

                @include helper-breakpoint-media-min($lg) {
                    padding-bottom: var(--scale-24);
                    padding-top: var(--scale-24);
                }

                &:last-child {
                    padding-bottom: 0;

                    @include helper-breakpoint-media-min($lg) {
                        padding-bottom: var(--scale-20);
                    }
                }
            }

            &--hidden {
                &:not(#{$name}__col--content) {
                    opacity: 0.5;
                }
            }
        }

        &__additional-title {
            padding-top: var(--scale-16);
            font-size: var(--font-size-14);
            font-weight: var(--font-weight-bold);
            line-height: var(--font-line-height-20);

            @include helper-breakpoint-media-min($lg) {
                padding-top: var(--scale-24);
            }
        }

        &__inner {
            &--full-height {
                height: auto;
                min-height: 100%;
            }

            &--total {
                @include helper-breakpoint-media-min($lg) {
                    flex-direction: column;
                    align-items: flex-end;
                }
            }

            &--actions {
                padding-bottom: var(--scale-6);

                @include helper-breakpoint-media-min($lg) {
                    padding-bottom: 0;
                    align-items: flex-end;
                }
            }
        }

        &__title {
            font-size: var(--font-size-14);
            font-weight: var(--font-weight-medium);
            line-height: var(--font-line-height-20);
            color: var(--text-primary);
            margin-bottom: 0;
            text-decoration: none;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;

            @include helper-breakpoint-media-min($lg) {
                font-size: var(--heading-sm-size);
                font-weight: var(--heading-sm-weight);
                line-height: var(--heading-sm-line-height);
            }

            &--shopping-list-alternative {
                font-size: var(--font-size-12);

                @include helper-breakpoint-media-min($lg) {
                    font-size: var(--font-size-16);
                }
            }

            &--hidden {
                opacity: 0.5;
            }
        }

        &__color {
            display: inline-block;
            width: rem(14);
            height: rem(14);
            border-radius: 50%;
            margin-left: var(--scale-4);
            text-indent: rem(-9999);
            vertical-align: middle;
        }

        &__color-preview {
            display: inline-block;
            position: relative;
            font-size: var(--font-size-12);
            font-weight: var(--font-weight-medium);
            color: var(--text-secondary);
            padding-right: var(--scale-20);
            line-height: var(--font-line-height-20);

            @include helper-breakpoint-media-min($lg) {
                font-size: var(--font-size-14);
            }
        }

        &__color-preview-decoration {
            position: absolute;
            right: 0;
            top: rem(3);
            width: rem(15);
            height: rem(15);
            border-radius: 50%;
            border: var(--stroke-sm) solid var(--border-subtle);
        }

        &__available {
            display: inline-block;
            color: var(--text-state-success);
            font-weight: var(--font-weight-medium);
            line-height: var(--font-line-height-20);
            margin-bottom: var(--scale-8);
        }

        &__col--content {
            display: flex;
            flex-direction: column;
            gap: var(--scale-4);

            .spacing-bottom {
                margin-bottom: 0;
            }

            .text-secondary {
                font-size: var(--label-sm-regular-size);
                line-height: var(--label-sm-regular-line-height);
                color: var(--text-tertiary);
            }

            .sold-by-merchant {
                font-size: var(--label-sm-regular-size);
                line-height: var(--label-sm-regular-line-height);
                color: var(--text-secondary);
            }
        }

        &__quantity-holder {
            padding-bottom: var(--scale-16);

            @include helper-breakpoint-media-min($lg) {
                padding-bottom: 0;
            }
        }

        &__checkbox {
            height: 100%;

            &-col {
                padding-left: var(--scale-12);
                align-self: center;
            }
        }

        &__quantity {
            font-size: var(--font-size-12);
            color: var(--text-tertiary);

            @include helper-breakpoint-media-min($lg) {
                font-size: var(--font-size-14);
            }

            &-title {
                color: var(--text-secondary);
                font-weight: var(--font-weight-medium);
            }
        }

        &__delete-cart {
            position: absolute;
            bottom: var(--scale-48);
            right: var(--scale-32);

            @include helper-breakpoint-media-min($lg) {
                padding-top: var(--scale-32);
                position: static;
            }
        }

        &__remove-button {
            margin-top: rem(-48);

            @include helper-breakpoint-media-min($lg) {
                margin: 0;
            }
        }

        &__remove-button-text {
            display: none;

            @include helper-breakpoint-media-min($lg) {
                display: inline-block;
            }
        }

        &__dropdown {
            position: absolute;
            left: rem(-2);
            width: $dropdown-width;
            top: $dropdown-top-indent;

            @include helper-breakpoint-media-min($lg) {
                position: static;
                width: 100%;
                left: auto;
                top: auto;
            }
        }

        &--shopping-list-available {
            padding-bottom: rem(75);

            @include helper-breakpoint-media-min($lg) {
                padding-bottom: 0;
            }
        }

        &--checkout {
            margin-bottom: var(--scale-16);

            #{$name}__col {
                &--image {
                    @include helper-breakpoint-media-min($lg) {
                        width: 17%;
                        min-width: 17%;
                    }
                }

                &--total {
                    @include helper-breakpoint-media-min($lg) {
                        width: 20%;
                        min-width: 20%;
                    }

                    #{$name} & {
                        @include helper-breakpoint-media-min($lg) {
                            padding-left: 0;
                            padding-right: var(--scale-32);
                        }
                    }
                }

                &--content {
                    @include helper-breakpoint-media-min($lg) {
                        width: 80%;
                        min-width: 80%;
                    }
                }

                &--description {
                    padding-top: 0;
                    padding-bottom: 0;

                    @include helper-breakpoint-media-min($lg) {
                        width: 83%;
                        min-width: 83%;
                        padding-top: var(--scale-20);
                        padding-bottom: var(--scale-16);
                        margin-left: rem(-10);
                    }
                }
            }
        }

        &--checkout-address {
            margin-bottom: rem(100);

            @include helper-breakpoint-media-min($lg) {
                margin-bottom: var(--scale-20);
            }

            #{$name}__col {
                &--total {
                    @include helper-breakpoint-media-min($lg) {
                        width: 60%;
                        min-width: 60%;
                        text-align: left;
                    }

                    #{$name}__inner {
                        align-items: flex-start;
                        height: auto;
                    }
                }

                &--content {
                    @include helper-breakpoint-media-min($lg) {
                        width: 40%;
                        min-width: 40%;
                    }
                }
            }
        }

        &--order-detail {
            #{$name}__col {
                &--image {
                    margin-left: rem(35);
                    padding-right: rem(5);

                    @include helper-breakpoint-media-min($md) {
                        margin-left: 0;
                        padding-right: var(--scale-16);
                    }
                }

                &--total {
                    @include helper-breakpoint-media-min($lg) {
                        width: 30%;
                        min-width: 30%;
                    }

                    #{$name} & {
                        @include helper-breakpoint-media-min($lg) {
                            padding-left: 0;
                            padding-right: var(--scale-32);
                        }
                    }
                }

                &--content {
                    @include helper-breakpoint-media-min($lg) {
                        width: 70%;
                        min-width: 70%;
                    }
                }

                &--description {
                    width: 100%;
                    padding-top: 0;
                    padding-bottom: 0;

                    @include helper-breakpoint-media-min($lg) {
                        padding-top: var(--scale-20);
                        padding-bottom: var(--scale-16);
                        margin-left: rem(-10);
                        width: 78%;
                        min-width: 78%;
                    }
                }
            }
        }

        &--fixed-input {
            max-width: rem(138);
            margin-bottom: rem(30);
            text-align: right;
        }

        &--shopping-list-alternative {
            margin-bottom: var(--scale-12);

            #{$name}__col {
                width: 69%;
                min-width: 69%;

                @include helper-breakpoint-media-min($lg) {
                    width: 78%;
                    min-width: 78%;
                }

                &--image {
                    width: 31%;
                    min-width: 31%;

                    @include helper-breakpoint-media-min($lg) {
                        width: 22%;
                        min-width: 22%;
                    }
                }

                &--content {
                    width: 100%;
                    min-width: 100%;

                    @include helper-breakpoint-media-min($lg) {
                        width: 58%;
                        min-width: 58%;
                    }
                }

                &--total {
                    width: 100%;
                    min-width: 100%;

                    @include helper-breakpoint-media-min($lg) {
                        width: 42%;
                        min-width: 42%;
                    }
                }
            }
        }

        @content;
    }
}

@include shop-ui-product-card-item();
