@mixin basic-typography() {
    html {
        font-size: var(--body-lg-size);
    }

    body {
        font-weight: var(--body-lg-weight);
        font-family: var(--body-lg-family);
        line-height: var(--body-lg-line-height);
        letter-spacing: var(--body-lg-letter-spacing);
        position: relative;
        background-color: var(--background-page);
        color: var(--text-primary);
        overflow-x: hidden;
    }

    * {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    $heading-sizes: (
        1: 'xl',
        2: 'lg',
        3: 'md',
        4: 'sm',
        5: 'sm',
        6: 'sm',
    );

    @each $i, $size in $heading-sizes {
        h#{$i} {
            display: block;
            font-family: var(--heading-#{$size}-family);
            font-weight: var(--heading-#{$size}-weight);
            font-size: var(--heading-#{$size}-size);
            line-height: var(--heading-#{$size}-line-height);
            letter-spacing: var(--heading-#{$size}-letter-spacing);
            color: var(--text-primary);
        }
    }

    a {
        color: var(--text-brand);
        text-decoration: none;

        &:hover {
            color: var(--text-brand);
            text-decoration: underline;
        }
    }

    b,
    strong {
        font-weight: var(--font-weight-bold);
    }

    i,
    em,
    cite {
        font-style: italic;
    }

    hr {
        @include helper-ui-clearfix;
        border-bottom: var(--stroke-sm) solid var(--border-default);
        margin: var(--scale-4) 0;
    }

    small {
        font-size: rem(var(--body-lg-size));
    }

    big {
        font-size: var(--font-size-20);
    }

    p,
    blockquote,
    iframe {
        margin: var(--scale-4) 0;
    }

    .divider {
        display: block;
        border-top: var(--stroke-sm) solid var(--border-default);

        &--dashed {
            border-style: dashed;
        }
    }
}
