@include shop-ui-advanced-table($name: '.advanced-table') {
    @include typography(label-sm);
    color: var(--text-primary);
    border: solid var(--border-subtle);
    border-width: rem(1) rem(1) 0 rem(1);

    &__head {
        background-color: var(--background-surface);
    }

    &__col {
        padding: var(--scale-12);
        vertical-align: top;
    }

    &__row:nth-child(even) &__col {
        background: none;
    }

    &__row:has(&__col:nth-child(2) .table-action-list) &__col:first-child {
        width: 100%;
    }

    &__row {
        border-bottom: rem(1) solid var(--border-subtle);
    }

    @include helper-breakpoint-media-max($lg - 1) {
        display: block;

        &__col,
        &__row {
            display: block;

            &--head {
                display: none;
            }

            &.is-hidden-sm-md {
                display: none;
            }
        }

        &__body {
            tr {
                &:not(#{&}--backgroungless) {
                    &:nth-child(even) {
                        background: none;
                    }
                }
            }
        }

        &__col {
            display: flex;
            position: relative;
            padding: var(--scale-4) var(--scale-12);

            &:first-child {
                padding-top: var(--scale-12);
            }

            &:last-child {
                padding-bottom: var(--scale-12);
            }

            &:not(:has(.advanced-table-actions-cell)) {
                background-color: $setting-color-gray-7;
            }

            &:nth-last-child(1 of .advanced-table__col:not(:has(.advanced-table-actions-cell))) {
                padding-bottom: 1rem;
            }

            &:not([data-content=''])::before {
                content: attr(data-content) ':';
                font-weight: fw(bold);
                display: inline-block;
                width: auto;
                padding-right: rem(10);
                text-transform: uppercase;
                flex-shrink: 0;
                vertical-align: top;
                min-width: 25%;
            }

            &:has(.advanced-table-actions-cell)::before {
                display: none;
            }

            & > [class$='-cell'] {
                width: 100%;
            }
        }
    }
}
