{% extends view('shopping-list-shop-list', 'SprykerShop:ShoppingListWidget') %}

{% define data = {
    view: 'header',
} %}

{% set activeView = data.view | default(app.request.get('view') | default('header')) %}
{% set shoppingListAjaxContentClass = 'js-shopping-list-content-' ~ activeView %}
{% set shoppingListAjaxProviderClass = data.isAjaxMode ? 'js-shopping-list-provider-' ~ activeView : null %}

{% block body %}
    {% block contentOuter %}
        <span class="{% if data.isAjaxMode %}{{ shoppingListAjaxContentClass }}{% endif %}">
            {% block contentInner %}
                {% if activeView == 'header' %}
                    {% include molecule('header-shopping-list-pill', 'ShoppingListWidget') with {
                        data: {
                            shoppingListCollection: data.shoppingListCollection,
                            isAjaxMode: data.isAjaxMode,
                        },
                    } only %}
                {% endif %}

                {% if activeView == 'side-drawer' %}
                    {% include molecule('shopping-list-panel', 'ShoppingListWidget') with {
                        data: {
                            shoppingLists: data.shoppingListCollection.shoppingLists,
                        },
                    } only %}
                {% endif %}
            {% endblock %}
        </span>
    {% endblock %}

    {% if data.isAjaxMode %}
        {% include molecule('ajax-provider') with {
            class: shoppingListAjaxProviderClass,
            attributes: {
                url: path('shopping-list/async/navigation-widget/view', {
                    view: activeView,
                }),
                method: 'POST',
                'event-host': 'SHOPPING_LIST_UPDATE_EVENT',
                'element-visibility-checker-class-name': shoppingListAjaxContentClass,
            },
        } only %}

        {% include molecule('ajax-renderer') with {
            attributes: {
                'provider-class-name': shoppingListAjaxProviderClass,
                'target-class-name': shoppingListAjaxContentClass,
                'mount-after-render': true,
            },
        } only %}
    {% endif %}
{% endblock %}
