$setting-font-family: 'Circular', sans-serif;

$setting-font-size: (
    1: rem(50),
    2: rem(var(--fontsize-6)),
    3: rem(var(--fontsize-5)),
    4: rem(var(--fontsize-3)),
    5: rem(var(--fontsize-2)),
    6: rem(var(--fontsize-1)),
    big: rem(var(--fontsize-3)),
    default: rem(var(--fontsize-2)),
    small: rem(var(--fontsize-1)),
    tiny: rem(var(--fontsize-0)),
);

$setting-font-weight: (
    regular: 400,
    medium: 500,
    bold: 700,
);
