@use '~src/ShopUi/styles/shared' as *;
@use 'ShopUi/components/atoms/link/link.scss' as *;

.privacy-navigation {
    display: flex;
    align-items: center;
    gap: var(--scale-8);
    list-style: none;
    padding: 0;
    margin: 0;
    flex-shrink: 0;
    white-space: nowrap;

    &__item {
        padding: 0;
        margin: 0;

        &:not(:first-child)::before {
            content: '·';
            margin-right: var(--scale-8);
            color: var(--text-primary);
            top: 1px;
            position: relative;
        }
    }

    @include shop-ui-link {
        &--privacy {
            @include helper-effect-transition(color);
            font-size: var(--label-sm-size);
            font-weight: var(--label-sm-weight);
            line-height: var(--label-sm-line-height);
            color: var(--text-primary);
            text-decoration: none;

            &:hover,
            &:focus {
                color: var(--text-secondary);
            }
        }
    }
}
