.privacy-navigation {
    text-align: left;
    padding-top: var(--scale-12);
    padding-left: var(--scale-16);
    padding-right: var(--scale-16);
    order: 2;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;

    @include helper-breakpoint-media-min($lg) {
        display: block;
        width: 25%;
        position: absolute;
        right: 0;
        padding-top: 0;
    }

    &__item {
        padding: 0 var(--scale-8);
        margin-bottom: var(--scale-4);

        @include helper-breakpoint-media-min($lg) {
            padding: 0;
        }

        &:not(:first-child) {
            padding-top: var(--scale-4);
        }
    }
}
