{% extends view('home', '@SprykerShop:HomePage') %}

{% block contentTop %}
    {% embed molecule('slick-carousel') with {
        modifiers: ['jumbotron', 'equal-height'],
        attributes: {
            'slider-config': '{
                "slidesToShow": 1,
                "dots": true,
                "autoplay": true,
                "nextArrow": false,
                "prevArrow": false,
                "autoplaySpeed": 4000,
                "responsive": [
                {
                    "breakpoint": 768,
                    "settings": {
                        "autoplay": false
                    }
                },
                {
                    "breakpoint": 375,
                    "settings": {
                        "autoplay": false
                    }
                }]
            }',
        },
    } only %}
        {% block slides %}
            {% cms_slot 'slt-2' %}
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block content %}
    {% cms_slot 'slt-3' %}

    <div class="grid grid--stretch grid--gap grid--sm-scroll spacing-top--medium spacing-bottom--large">
        {% cms_slot 'slt-4' %}
    </div>

    {% cms_slot 'slt-5' %}
{% endblock %}

{% block contentBottom %}
    {% embed organism('section') with {
        class: 'spacing-top--large',
        modifiers: ['highlight-bg'],
        data: {
            innerClass: 'container',
        },
    } only %}
        {% block inner %}
            {% cms_slot 'slt-home-bottom' %}
        {% endblock %}
    {% endembed %}
{% endblock %}
