@mixin catalog-page-suggestion-links-list($name: '.suggestion-links-list') {
    #{$name} {
        &__title {
            display: flex;
            align-items: center;
            height: var(--scale-32);
            padding: 0 var(--scale-20);
            background: var(--background-subtle);

            @include typography(label-sm);
            color: var(--text-primary);
            text-transform: uppercase;

            &--bottom-indent {
                padding-bottom: var(--scale-16);
            }
        }

        &__item {
            border-top: var(--stroke-sm) solid var(--border-subtle);

            &:first-child {
                border-top: none;
            }
        }

        &__link {
            @include helper-effect-transition(background-color color);
            display: flex;
            align-items: center;
            min-height: rem(44);
            padding: var(--scale-6) var(--scale-16);

            @include typography(body-sm);
            color: var(--text-primary);
            text-decoration: none;

            &:hover {
                color: var(--text-brand);
                background-color: var(--background-subtle);
            }
        }

        @content;
    }
}

@include catalog-page-suggestion-links-list();
