@include shop-ui-title {
    &--footer {
        font: fw(bold) rem(var(--fontsize-2)) / rem(50) $setting-font-family;
        position: relative;
        text-transform: capitalize;
        display: block;

        @include helper-breakpoint-media-min($md) {
            line-height: rem(34);
            margin-bottom: rem(10);
        }
    }

    &--footer-logo {
        margin-bottom: 0;

        @include helper-breakpoint-media-min($md) {
            display: none;
        }
    }

    &--subscription {
        font: fw(bold) rem(var(--fontsize-2)) / rem(50) $setting-font-family;
        position: relative;
        display: block;

        @include helper-breakpoint-media-min($md) {
            font-weight: fw(medium);
            font-size: rem(var(--fontsize-3));
            line-height: normal;
        }

        @include helper-breakpoint-media-min($lg) {
            font-size: rem(26);
        }

        @include helper-breakpoint-media-min($xl) {
            font-size: rem(34);
            line-height: rem(43);
            letter-spacing: rem(0.3);
        }
    }

    &--checkout {
        font-size: rem(22);
        font-weight: fw(bold);
        margin-bottom: rem(10);

        @include helper-breakpoint-media-min($lg) {
            font-size: rem(28);
            margin-bottom: rem(25);
        }
    }

    &--second {
        font-size: rem(var(--fontsize-3));
        margin-bottom: rem(14);

        @include helper-breakpoint-media-min($lg) {
            font-size: rem(var(--fontsize-5));
        }
    }

    &__index {
        color: $setting-color-main;
        margin-right: rem(var(--space-2));

        @include helper-breakpoint-media-min($lg) {
            margin-right: rem(var(--space-3));
        }
    }

    &--sub {
        color: $setting-color-gray-3;
        font-weight: fw(regular);
        margin-bottom: rem(var(--space-4));
    }

    &--error-page {
        font: fw(bold) rem(var(--fontsize-6)) / rem(41) $setting-font-family;
        margin-bottom: rem(7);
    }

    &--product-review {
        margin: rem(36) 0 rem(var(--space-7));
    }

    &--product-slider {
        text-align: center;
        font-size: rem(28);
        margin-bottom: rem(var(--space-5));

        @include helper-breakpoint-media-min($lg) {
            margin-bottom: rem(33);
            font-size: rem(var(--fontsize-6));
        }
    }

    &--top-margin {
        margin-top: rem(61);

        @include helper-breakpoint-media-min($lg) {
            margin-top: rem(80);
        }

        @include helper-breakpoint-media-min($xl) {
            margin-top: rem(110);
        }
    }

    &--top-margin-small {
        margin-top: rem(55);
    }

    &--light {
        color: $setting-color-white;
    }

    &--product-set-details {
        font-size: rem(22);
        font-weight: fw(medium);

        @include helper-breakpoint-media-min($lg) {
            font-size: rem(50);
        }
    }

    &--product-sold-by {
        color: $setting-color-gray-5;
        font-size: rem(var(--fontsize-3));
        font-weight: fw(regular);
        padding: rem(var(--space-6)) 0 rem(14);
        border-bottom: rem(var(--stroke-width-thin)) solid $setting-color-gray-1;

        @include helper-breakpoint-media-min($lg) {
            font-size: rem(22);
        }
    }

    &--price-mode {
        font-size: rem(13);
        color: $setting-color-gray-4;
    }

    &--mobile-toggler-section {
        margin-bottom: rem(var(--space-7));
        font-weight: fw(medium);
        line-height: normal;
        color: $setting-color-gray-5;

        @include helper-breakpoint-media-max($lg - 1) {
            font-size: rem(17);
            padding-left: rem(29);
            position: relative;

            &::before,
            &::after {
                content: '';
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                width: rem(10);
                height: rem(var(--stroke-width-medium));
                background: $setting-color-gray-5;
            }

            &::after {
                transform: translateY(-50%) rotate(90deg);
            }

            /* stylelint-disable selector-no-qualifying-type  */
            &.active::after {
                display: none;
            }
            /* stylelint-enable  */
        }
    }

    &--link {
        color: $setting-color-gray-5;
        font-weight: fw(medium);

        @include helper-breakpoint-media-min($lg) {
            margin-left: rem(var(--space-6));
        }
    }

    &--warning {
        color: $setting-color-alt;
        line-height: rem(52);
        background-color: $setting-color-alpha-5;
        margin: 0 rem(-15) rem(var(--space-3));

        @include helper-breakpoint-media-min($lg) {
            font-size: rem(var(--fontsize-2));
            margin: 0 0 rem(var(--space-3));
        }
    }

    &--review-subtitle {
        margin-bottom: rem(var(--space-6));
        font-size: rem(var(--fontsize-3));
        font-weight: fw(medium);
        line-height: normal;
        color: $setting-color-gray-5;
        text-align: center;

        @include helper-breakpoint-media-min($lg) {
            text-align: left;
            font-size: rem(var(--fontsize-5));
        }
    }

    &--underline {
        padding-bottom: rem(10);
        margin-bottom: rem(10);
        position: relative;

        @include helper-breakpoint-media-min($lg) {
            padding-bottom: rem(var(--space-6));
            margin-bottom: rem(var(--space-6));
        }

        &::after {
            content: '';
            display: block;
            position: absolute;
            left: rem(-15);
            right: rem(-15);
            bottom: 0;
            width: calc(100% + #{$setting-grid-space * 2});
            height: rem(var(--stroke-width-thin));
            background-color: $setting-color-gray-6;

            @include helper-breakpoint-media-min($lg) {
                left: 0;
                right: 0;
                width: 100%;
            }
        }
    }
}
