<div class="header__top">
    <div class="container header__row">
        <div class="header__col">
            <div class="header__logo">
                <img [src]="logo$ | async" alt="Logo" />
            </div>
        </div>

        <div class="header__col">
            <h2 class="header__title">{{ 'global.title' | translate }}</h2>
        </div>

        <div class="header__col header__col--aux"></div>
    </div>
</div>

<div class="header__heading">
    <div class="container">
        <h1 data-qa="header-heading">{{ 'global.heading' | translate }} "{{ title$ | async }}"</h1>
    </div>
</div>

<div class="header__bottom">
    <div class="container">
        <ul class="header__info">
            @for (item of info$ | async; track item) { @if(item.value) {
            <li data-qa="header-info-item" class="header__info-item">
                <h4 class="header__info-title">{{ item.title | translate }}:</h4>
                <span>{{ item.value }}</span>
            </li>
            } }
        </ul>
    </div>
</div>

<div class="container">
    <a href="#" data-qa="header-guard-back-button" (click)="modalTrigger($event, true)" class="header__back">
        <svg class="icon" viewBox="0 0 16 16">
            <path
                d="M5.99935 12.0666L1.91602 7.98324L5.99935 3.8999L6.81602 4.71657L4.11602 7.41657H14.0827V8.5499H4.11602L6.81602 11.2499L5.99935 12.0666Z"
            />
        </svg>

        {{ 'global.back' | translate }}
    </a>

    @if (modal$ | async) {
    <div class="guard" data-qa="header-guard-modal">
        <div class="guard__modal">
            <div class="guard__title">
                <h3>{{ 'guard.title' | translate }}</h3>
            </div>
            <div class="guard__body">{{ 'guard.body' | translate }}</div>
            <div class="guard__actions">
                <button data-qa="header-guard-leave-button" (click)="backTrigger()" class="button button--hollow">
                    {{ 'buttons.leave' | translate }}
                </button>
                <button data-qa="header-guard-cancel-button" (click)="modalTrigger($event, false)" class="button">
                    {{ 'buttons.cancel' | translate }}
                </button>
            </div>
        </div>
    </div>
    }
</div>
