@mixin shop-ui-footer($name: '.footer') {
    #{$name} {
        background-color: var(--background-subtle);

        &__subscribe {
            @include helper-breakpoint-media-min($md) {
                padding-top: var(--scale-20);
                padding-bottom: var(--scale-32);
            }

            @include helper-breakpoint-media-min($lg) {
                padding-top: var(--scale-48);
                padding-bottom: var(--scale-48);
            }

            @include helper-breakpoint-media-min($xl) {
                padding-top: var(--scale-64);
                padding-bottom: var(--scale-64);
            }
        }

        &__logos {
            @include helper-breakpoint-media-min($md) {
                background-color: var(--background-surface);
                padding: var(--scale-8) 0 0;
                box-shadow:
                    0 3px 3px 0 var(--shadows-sm-color),
                    0 18px 18px 0 var(--shadows-sm-color);
            }

            @include helper-breakpoint-media-min($lg) {
                padding: var(--scale-24) 0;
            }
        }

        &__navigation {
            @include helper-breakpoint-media-min($md) {
                padding-top: var(--scale-32);
            }

            @include helper-breakpoint-media-min($lg) {
                padding-top: var(--scale-48);
            }
        }

        &__contact-info {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            border-top: solid var(--stroke-sm) var(--border-subtle);

            .title {
                width: 100%;
            }

            @include helper-breakpoint-media-min($md) {
                border-top: 0;
            }

            @include helper-breakpoint-media-min($lg) {
                display: block;
            }

            &::after {
                display: none;
            }
        }

        &__contact-info-item {
            @include helper-effect-transition(color);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            color: var(--text-secondary);
            font-size: var(--body-md-size);
            font-weight: var(--font-weight-medium);
            text-align: center;
            width: calc(50% - var(--scale-12));
            min-height: var(--scale-64);
            border: solid var(--stroke-sm) var(--border-default);
            border-radius: var(--radius-sm);

            @include helper-breakpoint-media-min($lg) {
                display: block;
                width: 100%;
                min-height: 0;
                border: none;
                font-size: var(--body-md-size);
                text-align: left;
            }

            @include helper-breakpoint-media-min($xl) {
                font-size: var(--body-lg-size);
                line-height: var(--body-lg-line-height);
            }
        }

        &__phone {
            @include helper-breakpoint-media-min($lg) {
                display: block;
                margin-bottom: var(--scale-16);
                color: var(--text-tertiary);
            }

            &:hover,
            &:focus {
                color: var(--text-tertiary);
            }
        }

        &__social-buttons {
            margin-top: var(--scale-32);
            margin-bottom: var(--scale-24);
            flex-direction: column-reverse;

            @include helper-breakpoint-media-min($md) {
                margin-top: var(--scale-40);
                margin-bottom: var(--scale-48);
                flex-direction: row;
            }
        }

        &__hint {
            font-size: var(--body-sm-size);
            text-align: center;
            letter-spacing: var(--body-sm-letter-spacing);
            padding-bottom: var(--scale-12);

            @include helper-breakpoint-media-min($md) {
                text-align: left;
            }
        }

        &__thanks-certeo {
            font-size: var(--body-sm-size);
            text-align: center;
            letter-spacing: var(--body-sm-letter-spacing);

            @include helper-breakpoint-media-min($md) {
                text-align: left;
            }
        }

        &__copyright {
            background-color: var(--background-brand-primary);
            text-align: center;
            color: var(--text-inverse);
        }

        @content;
    }
}

@include shop-ui-footer();
