@import '../checkbox/checkbox';

@mixin shop-ui-radio($name: '.radio') {
    @include shop-ui-checkbox($name) {
        &__box {
            border-radius: 100%;
            border-width: rem(var(--scale-2));
        }

        &__input:checked ~ {
            #{$name}__box::after {
                content: '';
                width: rem(10);
                height: rem(10);
                background-color: var(--background-brand-primary);
                border-radius: 100%;
            }
        }

        @content;
    }
}

@include shop-ui-radio;
