@mixin merchant-widget-sold-by-merchant($name: '.sold-by-merchant') {
    #{$name} {
        font-size: rem(14);
        margin: rem(8) 0 rem(12);

        &__link {
            color: $setting-color-main;
        }

        &--group {
            font-size: rem(16);
            font-weight: fw(medium);
            background: $setting-color-gray-7;
            padding: rem(12) rem(15);
            margin: 0;
            color: $setting-color-gray-5;

            @include helper-breakpoint-media-min($lg) {
                padding: rem(15) rem(30);
            }
        }

        @content;
    }
}

@include merchant-widget-sold-by-merchant();
