{% extends molecule('active-filter', '@SprykerShop:CatalogPage') %}

{% block body %}
    {% include atom('font-icon') with {
        class: config.name ~ '__icon',
        modifiers: ['size-inherit'],
        data: {
            name: 'close',
        },
    } only %}
    <span class="{{ config.name ~ '__value' }}">{{ data.value }}</span>
{% endblock %}
