docker-alpine-php-83-postgres-cypress:
    if: >
        (github.event_name == 'pull_request' && contains(github.event.pull_request.labels.*.name, 'run-compatibility-ci'))
        || github.event_name == 'schedule' || github.event_name == 'workflow_dispatch'
    name: "Docker / Alpine / PHP 8.3 / Postgress / Cypress / UI"
    runs-on: ubuntu-latest
    env:
        PROGRESS_TYPE: plain
        SPRYKER_PLATFORM_IMAGE: spryker/php:8.3
        TRAVIS: 1
        ROBOT_TESTS_ARTIFACTS_BUCKET_REGION: eu-west-1
        SPRYKER_CURRENT_REGION: EU
        DYNAMIC_STORE_MODE: true
    steps:
        -   uses: actions/checkout@v4

        -   name: Remove unnecessary files to release disk space
            run: |
                df -h /
                rm -rf /opt/hostedtoolcache
                df -h /

        -   uses: ramsey/composer-install@v3
            with:
                composer-options: "-q --ignore-platform-reqs --optimize-autoloader --no-interaction --prefer-install=auto"

        -   name: Configure sysctl limits
            run: |
                sudo sysctl -w vm.swappiness=10
                sudo sysctl -w fs.file-max=262144
                sudo sysctl -w vm.max_map_count=262144
                ulimit -n 65536

        -   name: Install Project
            run: |
                git clone --depth 1 https://github.com/spryker/docker-sdk.git ./docker
                docker/sdk boot deploy.ci.acceptance.postgress.cypress.yml
                sudo bash -c "echo '127.0.0.1 backend-api.eu.spryker.local backend-api.us.spryker.local backend-gateway.eu.spryker.local backend-gateway.us.spryker.local backoffice.eu.spryker.local backoffice.us.spryker.local glue-backend.eu.spryker.local glue-backend.us.spryker.local glue-storefront.eu.spryker.local glue-storefront.us.spryker.local glue.eu.spryker.local glue.us.spryker.local mail.spryker.local mp.eu.spryker.local mp.us.spryker.local queue.spryker.local spryker.local swagger.spryker.local yves.eu.spryker.local yves.us.spryker.local' >> /etc/hosts"
                docker/sdk up -t
                docker/sdk cli composer dump-autoload -o -a --apcu -q
        -   name: Run Tests
            id: run_tests
            run: |
                docker/sdk exec cypress-tests cp .env.dynamic-store.example .env
                docker/sdk exec cypress-tests git log -3
                docker/sdk exec cypress-tests npx cypress install
                docker/sdk exec --env "ENV_REPOSITORY_ID=b2b-mp" --env "ENV_IS_SSP_ENABLED=true" cypress-tests npm run cy:ci

        -   name: Upload Screenshots
            if: failure()
            run: |
                AWS_DEFAULT_REGION=${{env.ROBOT_TESTS_ARTIFACTS_BUCKET_REGION}} AWS_ACCESS_KEY_ID=${{ secrets.ROBOT_TESTS_ARTIFACTS_KEY }} AWS_SECRET_ACCESS_KEY=${{ secrets.ROBOT_TESTS_ARTIFACTS_SECRET }} aws s3 cp .cypress s3://${{vars.ROBOT_TESTS_ARTIFACTS_BUCKET}}/b2b-mp/dms-on/cypress/${GITHUB_RUN_ID}/PHP8.4MariaDB/ --recursive

        -   name: Run Tests (SSP)
            id: run_ssp_tests
            if: always()
            run: |
                docker/sdk exec --env "ENV_REPOSITORY_ID=b2b-mp" --env "ENV_IS_SSP_ENABLED=true" cypress-tests npm run cy:ci:ssp

        -   name: Upload Screenshots (SSP)
            if: failure()
            run: |
                AWS_DEFAULT_REGION=${{env.ROBOT_TESTS_ARTIFACTS_BUCKET_REGION}} AWS_ACCESS_KEY_ID=${{ secrets.ROBOT_TESTS_ARTIFACTS_KEY }} AWS_SECRET_ACCESS_KEY=${{ secrets.ROBOT_TESTS_ARTIFACTS_SECRET }} aws s3 cp .cypress s3://${{vars.ROBOT_TESTS_ARTIFACTS_BUCKET}}/b2b-mp/dms-on/cypress/${GITHUB_RUN_ID}/PHP8.4MariaDB/ --recursive

        -   name: Save PHP logs
            if: always() && (steps.run_tests.outcome == 'failure' || steps.run_ssp_tests.outcome == 'failure')
            run: |
                mkdir -p logs
                docker logs spryker_ci_backoffice_eu_1 > logs/backoffice_app.log 2>&1
                docker logs spryker_ci_glue_eu_1 > logs/glue_app.log 2>&1
                docker logs spryker_ci_yves_eu_1 > logs/yves_app.log 2>&1
                docker logs spryker_ci_merchant_portal_eu_1 > logs/merchant_portal_app.log 2>&1
                docker logs spryker_ci_glue_backend_eu_1 > logs/glue_backend_eu.log 2>&1 || true
                echo "PHP logs saved. After upload, they will be available in GitHub Actions Artifacts as 'cypress-ui-failed-artifacts'"

        -   name: Upload PHP logs
            if: always() && (steps.run_tests.outcome == 'failure' || steps.run_ssp_tests.outcome == 'failure')
            uses: actions/upload-artifact@v5
            with:
                name: cypress-ui-failed-artifacts
                retention-days: 5 # save for 5 days
                path: |
                    logs/*.log

        -   name: Slack Notification for failed job
            uses: ./.github/actions/job-slack-notifications
            if: always()
