@mixin shop-ui-product-item-options($name: '.product-item-options') {
    #{$name} {
        padding-bottom: var(--scale-16);

        &--summary {
            margin-top: rem(4);

            @include helper-breakpoint-media-min($lg) {
                margin-top: rem(16);
            }
        }

        &__item {
            display: block;
            color: var(--text-tertiary);

            @include typography(label-sm);
        }

        &__total-price {
            @include helper-breakpoint-media-min($lg) {
                float: right;
            }
        }

        @content;
    }
}

@include shop-ui-product-item-options();
