@mixin shop-ui-banner($name: '.banner') {
    #{$name} {
        overflow: hidden;
        height: rem(200);
        margin-bottom: rem(10);

        @include helper-breakpoint-media-min($lg) {
            height: rem(450);
            margin-bottom: rem(30);
        }

        &--medium {
            height: rem(400);
        }

        &--small {
            height: rem(200);

            @include helper-breakpoint-media-min($lg) {
                height: rem(340);
            }
        }

        &--success {
            height: auto;
            margin-bottom: rem(15);

            @include helper-breakpoint-media-min($lg) {
                height: rem(450);
                margin-bottom: rem(40);
            }
        }

        &--color-second {
            color: $setting-color-white;
        }

        &--spacing-bottom-reset {
            margin-bottom: 0;
        }

        &__container {
            min-height: 100%;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            text-align: center;
            position: relative;
            padding: rem(10);
            margin: 0 rem(15);

            @include helper-breakpoint-media-min($lg) {
                text-align: left;
                padding-bottom: rem(20);
                padding-top: rem(20);
            }

            @include helper-breakpoint-media-min($xl) {
                padding: rem(40) rem(30);
            }

            &--success {
                margin: 0;
                padding: rem(20) rem(15) rem(26);

                @include helper-breakpoint-media-min($lg) {
                    padding-top: 0;
                    padding-bottom: 0;
                }
            }

            &--spacing-x-reset {
                margin-left: 0;
                margin-right: 0;
            }

            &::after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: linear-gradient(to top, $setting-color-black 0%, $setting-color-gray-3 100%);
                opacity: 0.6;
            }
        }

        &__title,
        &__text {
            color: $setting-color-white;
        }

        &__title {
            font-size: rem(25);
            line-height: rem(25);
            font-weight: fw(medium);
            margin-bottom: rem(10);
        }

        &__text {
            font-size: rem(16);
            line-height: normal;
            font-weight: fw(regular);
            margin-bottom: rem(26);

            @include helper-breakpoint-media-min($lg) {
                font-size: rem(14);
            }

            &--subtitle {
                font-family: $setting-font-family;
                font-weight: fw(medium);
                margin-bottom: 0;

                @include helper-breakpoint-media-min($lg) {
                    font-size: rem(38);
                    line-height: rem(40);
                }
            }
        }

        &__success-title {
            font-size: rem(32);
            line-height: rem(34);
            color: $setting-color-white;
            margin-bottom: rem(11);

            @include helper-breakpoint-media-min($lg) {
                margin-bottom: rem(32);
                font-size: rem(50);
                line-height: rem(55);
            }
        }

        &__success-text {
            font-size: rem(18);
            letter-spacing: rem(0.3);

            @include helper-breakpoint-media-min($lg) {
                font-size: rem(22);
                letter-spacing: rem(0.4);
            }
        }

        @content;
    }
}

@include shop-ui-banner;
