@mixin shop-ui-banner($name: '.banner') {
    #{$name} {
        display: flex;
        flex-direction: column;
        overflow: hidden;
        background-color: var(--background-page);
        border-radius: var(--radius-lg);
        box-shadow: var(--shadows-md-x) var(--shadows-md-y) var(--shadows-md-blur) var(--shadows-md-spread)
            var(--shadows-md-color);

        &__image-wrapper {
            display: block;
            overflow: hidden;
            flex-shrink: 0;
            width: 100%;
            aspect-ratio: 11 / 4;
        }

        &__image-wrapper--medium,
        &__image-wrapper--small {
            aspect-ratio: 5 / 3;
        }

        &__body {
            display: flex;
            flex-direction: column;
            padding: var(--scale-24);
            flex-grow: 1;
        }

        &__body--medium {
            padding: var(--scale-20);
        }

        &__body--small {
            padding: var(--scale-16);
        }

        &__content {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
        }

        &--medium,
        &--small {
            #{$name}__title {
                --line-height: var(--heading-md-line-height);
                line-height: var(--line-height);
                display: -webkit-box;
                -webkit-line-clamp: 2;
                line-clamp: 2;
                -webkit-box-orient: vertical;
                overflow: hidden;
                max-height: calc(2 * var(--line-heigh));
            }

            #{$name}__text {
                --line-height: var(--body-md-line-height);
                line-height: var(--line-height);
                display: -webkit-box;
                -webkit-line-clamp: 3;
                line-clamp: 3;
                -webkit-box-orient: vertical;
                overflow: hidden;
                max-height: calc(3 * var(--line-height));
            }
        }

        &__title {
            font-family: var(--heading-lg-family);
            font-size: var(--heading-lg-size);
            font-weight: var(--heading-lg-weight);
            line-height: var(--heading-lg-line-height);
            letter-spacing: var(--heading-lg-letter-spacing);
            color: var(--text-primary);
            margin: 0;
        }

        &--medium #{$name}__title {
            font-size: var(--heading-md-size);
            letter-spacing: var(--heading-md-letter-spacing);
        }

        &--small #{$name}__title {
            --line-height: var(--heading-sm-line-height);
            font-size: var(--heading-sm-size);
            letter-spacing: var(--heading-sm-letter-spacing);
        }

        &__text {
            font-family: var(--body-md-family);
            font-size: var(--body-md-size);
            font-weight: var(--body-md-weight);
            line-height: var(--body-md-line-height);
            letter-spacing: var(--body-md-letter-spacing);
            color: var(--text-secondary);
            padding: var(--scale-20) 0;
            margin: 0;
        }

        &--medium #{$name}__text {
            font-size: var(--body-sm-size);
            line-height: var(--body-sm-line-height);
            padding: var(--scale-16) 0;
        }

        &--small #{$name}__text {
            font-size: var(--body-sm-size);
            line-height: var(--body-sm-line-height);
            padding: var(--scale-12) 0;
        }

        &__cta {
            align-self: flex-start;
        }

        @content;
    }
}

@include shop-ui-banner;
