{% extends '@Gui/Layout/layout.twig' %}

{% block content %}
     <script>
         fetch('/gui-assistant/product-abstracts/patch?abstractSku=camera-1500', {
             method: 'PATCH',
             headers: {
                 'Content-Type': 'application/json'
             },
             body: JSON.stringify({
                     "newFrom": "2025-09-11T" + (Math.floor(Math.random() * 13) + 10) + ":00:00+00:00",
                     "prices": [
                         {
                             "storeName": "DEFAULT",
                             "currencyCode": "EUR",
                             "priceTypeName": "DEFAULT",
                             "grossAmount": Math.floor(Math.random() * 40001) + 10000,
                             "netAmount": Math.floor(Math.random() * 40001) + 10000
                         }
                     ],
                     "localizations": [
                         {
                             "localeName": "en_US",
                             "name": "Mirrorless Camera 1500",
                             "description": "<p> " + Math.floor((Math.random() * 40000)) + "High-quality mirrorless camera 1500 with interchangeable lenses, perfect for photography enthusiasts and professionals.</p>",
                             "metaTitle": "Mirrorless Camera 1500 - Buy Now",
                             "metaDescription": "Discover the latest mirrorless camera 1500 with advanced features and superior image quality",
                             "metaKeywords": "mirrorless camera 1500, photography, interchangeable lenses, high quality"
                         },
                         {
                             "localeName": "de_DE",
                             "name": "Spiegellose Camera 1500",
                             "description": "<p> " + Math.floor((Math.random() * 40000)) + "Hochwertige spiegellose Kamera 1500 mit Wechselobjektiven, perfekt f체r Fotografie-Enthusiasten und Profis.</p>",
                             "metaTitle": "Spiegellose Kamera 1500 - Jetzt kaufen",
                             "metaDescription": "Entdecken Sie die neueste spiegellose Kamera 1500 mit fortschrittlichen Funktionen und 체berlegener Bildqualit채t",
                             "metaKeywords": "spiegellose Kamera 1500, Fotografie, Wechselobjektive, hohe Qualit채t"
                         }
                     ],
                     "stores": ["DEFAULT"]
                 }
             )
         })
             .then(response => response.json())
             .then(data => console.log(data))
             .catch(error => console.error('Error:', error));
     </script>
{% endblock %}
